# this is the description of the Europace Dokumente API
swagger: '2.0'
info:
  title: Dokumente API
  description: API rund um Plattformdokumente
  version: "0.9"
host: "dokumente.api.europace.de"
schemes:
  - https
# will be prefixed to all paths
basePath: /v1
produces:
  - application/json

paths:
  /dokumente:
    post:
      summary: Dokument erstellen
      description: |
        An diesen Endpunkt kann ein Dokument samt Metadaten per Form-Data hochgeladen werden.
      operationId: uploadDokument
      consumes:
      - multipart/form-data
      parameters:
      - in: formData
        required: true
        name: content
        type: file
        description: Inhalt des Dokuments.
      - in: formData
        required: false
        name: anzeigename
        type: string
        description: Name zur Anzeige auf der Oberfläche.
      - in: formData
        required: false
        name: filename
        type: string
        description: Name der Datei.
      - in: formData
        required: false
        name: erstellungsdatum
        type: string
        description: Datum an welchem das Dokument erstellt wurde als ISO8601DateFormat.
      - in: formData
        required: false
        name: vorgangsNummer
        type: string
        description: Vorgangsnummer, dem das Dokument zugeordnet werden soll.
      responses:
        201:
          description: Dokument erfolgreich hochgeladen
          schema:
            $ref: '#/definitions/Dokument'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Dokumente
    get:
      summary: Alle Dokumente
      description: |
        Dieser Endpunkt liefert alle Dokumente, auf die ich Zugriff habe. Da dies viele Dokumente sein können,
        lässt sich die Menge über Filter reduzieren.
      operationId: getDokumente
      parameters:
        - name: vorgangsNummer
          in: query
          description: Vorgangsnummer um nur Dokumente eines bestimmten Vorgangs zu erhalten.
          required: false
          type: string
      # Hier ggf. Parameter Hochgeladenes Dokument
      responses:
        200:
          description: Eine Liste von Dokumenten
          schema:
            type: array
            items:
              $ref: '#/definitions/Dokument'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Dokumente

  /dokumente/{id}:
    get:
      summary: Ein Dokument
      description: |
        Ein Dokument mit angegebener dokumentId.
      operationId: getDokument
      produces:
      - "application/json;charset=UTF-8"
      parameters:
      - name: id
        in: path
        description: Unique identifier des Dokuments.
        required: true
        type: string
      responses:
        200:
          description: Ein Dokument
          schema:
            $ref: '#/definitions/Dokument'
        404:
          description: Dokument nicht gefunden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Dokumente
    put:
      summary: Dokument aktualisieren
      description: |
        Update der Dokument Metadaten.
      operationId: updateDokument
      consumes:
        - application/json
        - multipart/form-data
      parameters:
        - in: path
          name: id
          description: Unique identifier des Dokuments.
          required: true
          type: string
        - in: body
          name: dokument
          description: Dokument als JSON oder Attribute als Formparameter
          schema:
            $ref: '#/definitions/Dokument'
      responses:
        200:
          description: Metadaten des Dokuments erfolgreich aktualisiert
          schema:
            $ref: '#/definitions/Dokument'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Dokumente
    delete:
      summary: Dokument löschen
      description: |
        An diesen Endpunkt kann das Dokument gelöscht werden.
      operationId: deleteDokument
      parameters:
      - name: id
        in: path
        description: Unique identifier des Dokuments.
        required: true
        type: string
      responses:
        200:
          description: Dokument erfolgreich gelöscht
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Dokumente

  /dokumente/{id}/content:
    get:
      summary: Ein Dokument runterladen
      description: |
        An diesen Endpunkt kann der Inhalt eines Dokuments heruntergeladen werden.
      operationId: getContent
      parameters:
      - name: id
        in: path
        description: Unique identifier des Dokuments.
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            type: file
        404:
          description: Dokument nicht gefunden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Dokumente

  /dokumente/{id}/kategorisierung:
    post:
      summary: starte Kategorisierung eines Dokuments
      description: |
        Die Kategorisierung eines Dokuments laden.
      operationId: starteKategorisierung
      parameters:
      - name: id
        in: path
        description: Unique identifier des Dokuments.
        required: true
        type: string
      - name: kategorisierungsMetadaten
        in: body
        description: Alle Metadaten nach den SmartCat im Dokument suchen soll.
        required: true
        schema:
          $ref: '#/definitions/KategorisierungsReferenzen'
      responses:
        200:
          description: Eine Kategorisierung eines Dokuments starten
        404:
          description: Dokument nicht gefunden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Dokumente
    get:
      summary: Lade die Kategorisierung eines Dokuments
      description: |
        Die Kategorisierung eines Dokuments laden.
      operationId: getKategorisierung
      parameters:
      - name: id
        in: path
        description: Unique identifier des Dokuments.
        required: true
        type: string
      responses:
        200:
          description: Eine Kategorisierung eines Dokuments
          schema:
            $ref: '#/definitions/Kategorisierung'
        204:
          description: Die Kategorisierung ist noch nicht abgeschlossen.
          schema:
            $ref: '#/definitions/KategorisierungsStatus'
        404:
          description: Kategorisierungen nicht gefunden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Dokumente

  /dokumente/{id}/kategorisierung/unterlagen/{seite}:
  # TODO: Stößt dieser Request ein ernuete SmartCat-Kategorisierung an oder dient er lediglich zum Trainieren des Modells für soätere Kategorisierungs-Anfragen?
    put:
      summary: Korrigiere kategorisierte Unterlagen (Seite des Dokuments)
      description: |
        Korrigiere Seite der Unterlage der angegebenen Kategorisierung, um SmartCat Feedback zu liefern.
      operationId: updateKategorisierung
      parameters:
      - name: id
        in: path
        description: Unique identifier des Dokuments.
        required: true
        type: string
      - name: seite
        in: path
        description: Seite des zu aktualisierenden Bereiches im Dokument, 1-basiert.
        required: true
        type: integer
        format: int32
      - in: body
        name: unterlage
        description: Die aktualisierte Unterlage.
        schema:
          $ref: "#/definitions/Unterlage"
      consumes:
        - application/json
      responses:
        200:
          description: Unterlage erfolgreich korrigiert
          schema:
            $ref: '#/definitions/Kategorisierung'
        404:
          description: Kategorisierung nicht gefunden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Dokumente

  /dokumente/{id}/preview:
    get:
      summary: Vorschaubild
      description: |
        Der Endpunkt liefert das Vorschaubild einer Seite eines Dokuments.
      operationId: getPreview
      produces:
        - image/jpeg
        - application/json
      parameters:
      - name: id
        in: path
        description: Unique identifier des Dokuments.
        required: true
        type: string
      - name: page
        in: query
        description: anzuzeigende Seite, 1-basiert
        required: true
        type: integer
        format: int32
      - name: size
        in: query
        description: "Bildgröße: small oder large"
        default: 'small'
        type: string
        enum:
          - 'small'
          - 'large'
      responses:
        200:
          description: Vorschaubild in JPEG
          schema:
            type:
              file
        404:
          description: Dokument nicht gefunden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Dokumente

  /dokumente/freigegebene-unterlagen:
    get:
      summary: Alle freigegebenen Unterlagen
      description: |
         Dieser Endpunkt liefert alle freigegebenen Unterlagen für einen Antrag innerhalb eines Zeitraumes.
      operationId: getFreigegebeneUnterlagen
      parameters:
      - name: antragsNummer
        in: query
        description: Antragsnummer.
        required: false
        type: string
      - name: von
        in: query
        required: false
        type: string
        format: date-time
      - name: bis
        in: query
        required: false
        type: string
        format: date-time
      responses:
        200:
          description: Eine Liste von freigegebenen Unterlagen.
          schema:
            type: array
            items:
              $ref: '#/definitions/FreigegebeneUnterlage'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Freigegebene Unterlage

  /dokumente/freigegebene-unterlagen/{id}:
    get:
      summary: Eine freigegebene Unterlage
      description: |
        Dieser Endpunkt liefert eine freigegebene Unterlage.
      operationId: getFreigegebeneUnterlage
      parameters:
        - name: id
          in: path
          description: Id der freigegebenen Unterlage
          required: true
          type: string

      responses:
        200:
          description: Eine freigegebene Unterlage.
          schema:
            $ref: '#/definitions/FreigegebeneUnterlage'
        404:
          description: Freigegebene Unterlage not found.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Freigegebene Unterlage

  /dokumente/freigegebene-unterlagen/{id}/status:
    get:
      summary: Freigabestatus auslesen
      description: |
        Dieser Endpunkt liefert den Abrufstatus einer freigegebene Unterlage.
      operationId: getFreigegebeneUnterlageStatus
      parameters:
        - name: id
          in: path
          description: Id der freigegebenen Unterlage
          required: true
          type: string
        - name: abrufstatus
          in: body
          required: true
          schema:
            $ref: '#/definitions/Abrufstatus'
      responses:
        200:
          description: Eine freigegebene Unterlage.
          schema:
            $ref: '#/definitions/FreigegebeneUnterlage'
        404:
          description: Freigegebene Unterlage not found.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Freigabestatus setzen
      description: |
        Dieser Endpunkt setzt den Abrufstatus einer freigegebenen Unterlage.
      operationId: setFreigegebeneUnterlageStatus
      parameters:
        - name: id
          in: path
          description: Id der freigegebenen Unterlage
          required: true
          type: string
        - name: abrufstatus
          in: body
          required: true
          schema:
            $ref: '#/definitions/Abrufstatus'
      responses:
        200:
          description: Eine freigegebene Unterlage.
          schema:
            $ref: '#/definitions/FreigegebeneUnterlage'
        404:
          description: Freigegebene Unterlage not found.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Freigegebene Unterlage Status

securityDefinitions:
  oauth2:
    type: oauth2
    tokenUrl: "https://api.europace.de/login"
    flow: password
    scopes:
      API: Authorisation Scope für die gesamte API.

definitions:
  Dokument:
    description: |
      Ein Dokument ist eine hochgeladene Datei und kann eus einer oder mehreren - z.b. gescannten - Unterlagen bestehen.
    type: object
    properties:
      id:
        type: string
        description: Unique identifier des Dokuments.
      anzeigename:
        type: string
        description: Anzeigename, kann verändert werden.
      filename:
        type: string
        description: Name der original hochgeladenen Datei.
      erstellungsdatum:
        type: string
        format: date-time
        description: Gibt das Datum an, an dem Das Dokument hochgeladen wurde, sich also der Inhalt geändert hat.
      type:
        type: string
        description: Media-Type nach https://tools.ietf.org/html/rfc6838.
      size:
        type: integer
        format: int64
        description: Größe des Inhalts des Dokuments in Bytes.
      vorgangsNummer:
        type: string
        description: Vorgang dem das Dokument zugeordnet ist.
      _links:
        type: object
        properties:
          self:
            $ref: "#/definitions/Relation"
            description: Self relation
          preview:
            $ref: "#/definitions/Relation"
            description: Base URL für die Preview Images
          kategorisierung:
            $ref: "#/definitions/Relation"
            description: URL zur Kategorisierung
          download:
            $ref: "#/definitions/Relation"
            description: URL zum Runterladen des Dokuments

  KategorisierungsReferenzen:
      type: object
      description: |
        Alle Metadaten nach den SmartCat im Dokument suchen soll.
      properties:
        antragsNummer:
          type: string
        referenzen:
          type: array
          items:
           $ref: "#/definitions/KategorisierungsReferenz"

  KategorisierungsReferenz:
      type: object
      description: |
        Beinhaltet die Informationen des Antragstellers oder der Immobilie.
      properties:
        typ:
         enum:
          - 'ANTRAGSTELLER'
          - 'IMMOBILIE'
        id:
          type: string
          description: |
            Das ist die Referenz Id der Immobilie oder des Antragstellers.
        values:
           type: array
           items:
             type: object
             properties:
              vorname:
                type: string
              nachname:
                type: string
              titel:
                type: string
              geburtsdatum:
                type: string
              plz:
                type: string
              stadt:
                type: string
              iban:
                type: string
              bic:
                type: string
              einkommenBrutto:
                type: string
              einkommenNetto:
                type: string
              steuerId:
                type: string

  KategorisierungsStatus:
      type: object
      description: |
        Wenn die Kategorisierung noch läuft, kann der Status der Kategorisierung erfragt werden.
      properties:
        status:
          type: string
          enum:
          - 'IN_PROGRESS'
          - 'FINISHED'
        progress:
          type: integer
          format: int32
          description: |
            Progress Wert in Prozent 0 - 100

  Kategorisierung:
    type: object
    description: |
      Enthält alle kategorisierten Unterlagen eines Dokuments als Liste.
    properties:
      kategorien:
        description: |
          Alle möglichen Kategorien, die eine Unterlage enthalten kann.
        type: array
        items:
          type: string
      unterlagen:
        type: array
        items:
          $ref: "#/definitions/Unterlage"
      _links:
        type: object
        properties:
          self:
            $ref: "#/definitions/Relation"
            description: Self relation

  Unterlage:
    type: object
    description: |
      Enthält die Kategorisierung eines Bereiches (ein oder mehrere Seiten) in einem Dokument.
    properties:
      antragsNummer:
        description: Antragsnummer, der die Unterlage zugeordnet ist .
        type: string
      kategorie:
        description: |
          Kategorien des Dokuments nach Relevanz sortiert.
          Das erste Element beinhaltet die höchste Relevanz.
        type: array
        items:
          type: string
          example: Personalausweis
      bezug:
        $ref: "#/definitions/Bezug"
      seite:
        type: integer
        format: int32
        description: Seite im Dokument, 1-basiert.

  Bezug:
    type: object
    description: |
      Zuordnung einer Unterlage zu einem Antrag und dem entsprechenden Business-Object.
    properties:
      typ:
        type: string
        description: |
        enum:
          - 'ANTRAGSTELLER'
          - 'IMMOBILIE'
          - 'VORHABEN'
          - 'HAUSHALT'
      anzeigename:
         description: Name des Bezugsobjektes
         example: Max Mustermann
         type: string
      referenzId:
         type: string
         description: |
           Identifier des Bezugsobjekts wie Antragsteller oder Immobilie, auf die sich
           diese Zuordnung bezieht.

  FreigegebeneUnterlage:
    type: object
    description: |
      Mehrseitige vom Vertrieb fuer den Produktanbieter freigegebene Unterlage.
      Die Unterlage besitzt eine Kategorie und bezieht sich auf ein Bezugsobjekt.
    properties:
      id:
        type: string
        description: Unique identifier der freigegebenen Unterlage.
      antragsNummer:
        type: string
        description: Antragsnummer
      anzeigename:
        type: string
        description: Anzeigename.
      filename:
        type: string
        description: Name der Datei.
      freigabedatum:
        type: string
        format: date-time
        description: Gibt das Datum an, an dem die Unterlage freigegeben wurde.
      type:
        type: string
        description: Media-Type nach https://tools.ietf.org/html/rfc6838.
      kategorie:
        description: Kategorie.
        type: string
      abrufstatus:
        $ref: "#/definitions/Abrufstatus"
      bezug:
        $ref: "#/definitions/Bezug"
      _links:
        type: object
        properties:
          self:
            description: Self Relation
            $ref: "#/definitions/Relation"
          download:
            description: URL zum Runterladen der freigegebenen Unterlage.
            $ref: "#/definitions/Relation"
          abrufstatus:
            description: URL zum Setzen des Abrufstatus
            $ref: "#/definitions/Relation"


  Abrufstatus:
    type: object
    properties:
      status:
        type: string
        enum:
        - SUCCESS
        - FAIL
      message:
        type: string

  Freigabe:
    type: object
    description: |
      Liste freigegebener Unterlagen.
    properties:
      freigegebeneUnterlagen:
        type: array
        items:
          $ref: "#/definitions/FreigegebeneUnterlage"

  Relation:
    type: object
    properties:
      href:
        type: string
        format: uri
        description: A HAL Ref
      method:
        type: string
        enum:
        - 'GET'
        - 'POST'
        - 'PUT'
        - 'DELETE'
      type:
        type: string
        description: Media-Type nach https://tools.ietf.org/html/rfc6838.

  Error:
    type: object
    properties:
      message:
        type: string
      statusCode:
        type: integer
        format: int32
      statusMessage:
        type: string
      timestamp:
        type: string
        format: date-time
      traceId:
        type: string
    title: Error
