# this is the description of the Europace Dokumente API
swagger: '2.0'
info:
  title: Dokumente API
  description: API rund um Plattformdokumente
  version: "1.0.16"
host: "api.europace.de"
schemes:
  - https
# will be prefixed to all paths
basePath: /v1
produces:
  - application/json

paths:
  /dokumente:
    post:
      summary: Dokument erstellen
      description: |
        An diesen Endpunkt kann ein Dokument samt Metadaten per Form-Data hochgeladen werden.
      operationId: uploadDokument
      consumes:
      - multipart/form-data
      parameters:
      - in: formData
        required: true
        name: content
        type: file
        description: Inhalt des Dokuments.
      - in: formData
        required: false
        name: anzeigename
        type: string
        description: Name zur Anzeige auf der Oberfläche.
      - in: formData
        required: true
        name: vorgangsNummer
        type: string
        description: Vorgangsnummer, dem das Dokument zugeordnet werden soll.
      responses:
        201:
          description: Dokument erfolgreich hochgeladen
          schema:
            $ref: '#/definitions/Dokument'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Dokumente
    get:
      summary: Alle Dokumente
      description: |
        Dieser Endpunkt liefert alle Dokumente eines Vorgangs.
      operationId: getDokumente
      parameters:
        - name: vorgangsNummer
          in: query
          description: Vorgangsnummer für welche Dokumente geliefert werden sollen.
          required: true
          type: string
      # Hier ggf. Parameter Hochgeladenes Dokument
      responses:
        200:
          description: Eine Liste von Dokumenten
          schema:
            type: array
            items:
              $ref: '#/definitions/Dokument'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Dokumente
    delete:
      summary: Alle Resourcen zu diesem Vorgang löschen
      description: |
        Dokumente und Seiten zu diesem Vorgang löschen.
      operationId: deleteVorgangsResourcen
      parameters:
        - name: vorgangsNummer
          in: query
          description: Vorgangsnummer zu der alle Resourcen gelöscht werden sollen.
          required: true
          type: string
      responses:
        200:
          description: Resourcen erfolgreich gelöscht.
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Dokumente

  /dokumente/{dokumentId}:
    get:
      summary: Ein Dokument
      description: |
        Ein Dokument mit angegebener dokumentId.
      operationId: getDokument
      produces:
      - "application/json;charset=UTF-8"
      parameters:
      - name: dokumentId
        in: path
        description: Unique identifier des Dokuments.
        required: true
        type: string
      responses:
        200:
          description: Ein Dokument
          schema:
            $ref: '#/definitions/Dokument'
        404:
          description: Dokument nicht gefunden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Dokumente
    put:
      summary: Dokument aktualisieren
      description: |
        Update der Dokument Metadaten.
      operationId: updateDokument
      consumes:
        - application/json
        - multipart/form-data
      parameters:
        - in: path
          name: dokumentId
          description: Unique identifier des Dokuments.
          required: true
          type: string
        - in: body
          name: dokument
          description: Dokument als JSON oder Attribute als Formparameter
          schema:
            $ref: '#/definitions/Dokument'
      responses:
        200:
          description: Metadaten des Dokuments erfolgreich aktualisiert
          schema:
            $ref: '#/definitions/Dokument'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Dokumente
    delete:
      summary: Dokument löschen
      description: |
        An diesen Endpunkt kann das Dokument gelöscht werden.
      operationId: deleteDokument
      parameters:
      - name: dokumentId
        in: path
        description: Unique identifier des Dokuments.
        required: true
        type: string
      responses:
        200:
          description: Dokument erfolgreich gelöscht
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Dokumente

  /dokumente/{dokumentId}/content:
    get:
      summary: Ein Dokument runterladen
      description: |
        An diesen Endpunkt kann der Inhalt eines Dokuments heruntergeladen werden.
      operationId: downloadDokument
      produces:
      - "application/pdf"
      parameters:
      - name: dokumentId
        in: path
        description: Unique identifier des Dokuments.
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            type: file
        404:
          description: Dokument nicht gefunden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Dokumente

  /dokumente/{dokumentId}/preview:
    get:
      summary: Vorschaubild
      description: |
        Der Endpunkt liefert das Vorschaubild einer Seite eines Dokuments.
      operationId: getPreview
      produces:
        - image/jpeg
        - application/json
      parameters:
      - name: dokumentId
        in: path
        description: Unique identifier des Dokuments.
        required: true
        type: string
      - name: page
        in: query
        description: anzuzeigende Seite, 1-basiert
        required: true
        type: integer
        format: int32
      - name: size
        in: query
        description: "Bildgröße: small oder large"
        default: 'small'
        type: string
        enum:
          - 'small'
          - 'large'
      responses:
        200:
          description: Vorschaubild in JPEG
          schema:
            type:
              file
        404:
          description: Dokument nicht gefunden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Dokumente

  /dokumente/{dokumentId}/kategorisierung:
    post:
      summary: Starte Kategorisierung eines Dokuments
      description: |
        Die Kategorisierung eines Dokuments laden.
      operationId: starteKategorisierung
      parameters:
      - name: dokumentId
        in: path
        description: Unique identifier des Dokuments.
        required: true
        type: string
      responses:
        200:
          description: Eine Kategorisierung eines Dokuments starten
        404:
          description: Dokument nicht gefunden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Dokumente
    get:
      summary: Lade die Kategorisierung eines Dokuments
      description: |
        Die Kategorisierung eines Dokuments laden.
      operationId: getKategorisierung
      parameters:
      - name: dokumentId
        in: path
        description: Unique identifier des Dokuments.
        required: true
        type: string
      responses:
        200:
          description: |
            Die Kategorisierung eines Dokuments ist abgeschlossen, die Seiten können geladen werden
          schema:
            $ref: '#/definitions/KategorisierungsStatus'
        202:
          description: Die Kategorisierung ist noch nicht abgeschlossen.
          schema:
            $ref: '#/definitions/KategorisierungsStatus'
        404:
          description: Dokument nicht gefunden oder Kategorisierung noch nicht gestartet.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Dokumente

  /dokumente/{dokumentId}/seiten:
    get:
      summary: Seiten eines Dokuments
      description: |
        Lade die Seiten eines Dokuments.
      operationId: getDokumentSeiten
      parameters:
      - name: dokumentId
        in: path
        description: Unique identifier des Dokuments.
        required: true
        type: string
      produces:
        - application/json
      responses:
        200:
          description: Liste der Seiten des Dokuments
          schema:
            type: array
            items:
              $ref: "#/definitions/Seite"
        404:
          description: Dokument nicht gefunden.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Seiten

  /dokumente/{dokumentId}/seiten/{seite}:
      get:
        summary: Seite eines Dokuments
        description: |
          Lade die Seite eines Dokuments.
        operationId: getDokumentSeite
        parameters:
        - name: dokumentId
          in: path
          description: Unique identifier des Dokuments.
          required: true
          type: string
        - name: seite
          in: path
          description: Seite des Dokuments. 1-basiert.
          required: true
          type: integer
        produces:
          - application/json
        responses:
          200:
            description: Seite des Dokuments
            schema:
              $ref: '#/definitions/Seite'
          404:
            description: Dokument oder Seite nicht gefunden.
            schema:
              $ref: '#/definitions/Error'
          default:
            description: Unerwarteter Fehler
            schema:
              $ref: '#/definitions/Error'

  /dokumente/seiten:
    get:
      summary: Lade alle Seiten der Dokumente eines Vorgangs
      description: |
              Lade die Seiten der Dokumente eines Vorgangs in gespeicherter Sortierung.
      operationId: getSeiten
      produces:
        - application/json
      parameters:
      - name: vorgangsNummer
        in: query
        description: Vorgangsnummer der Dokumente.
        required: true
        type: string
      responses:
        200:
          description: Liste der Seiten
          schema:
            $ref: "#/definitions/Seiten"
        404:
          description: Vorgang nicht gefunden.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Seiten
    patch:
      summary: (DEPRECATED) Manipulation der Seiten. Zum Beispiel um die Kategorie von Seiten zu ändern oder auch deren Reihenfolge.
      operationId: patchSeiten
      parameters:
        - name: vorgangsNummer
          in: query
          description: Vorgangsnummer der Dokumente.
          required: true
          type: string
        - name: revision
          in: query
          description: Der Wert wird bei Abfrage von GET /dokumente/sortierung mit zurückgegeben. Es ist zufällige ID, die immer dann geändert wird, wenn Seiten umsortiert werden. Durch Anhängen von Seiten ändert sich der Wert nicht. Durch die ID wird sichergestellt, dass die Patchoperation die richtige Seite adressiert.
          required: true
          type: string
        - name: JsonPatch
          in: body
          required: true
          schema:
            $ref: "#/definitions/PatchRequest"
      description: |
        Endpunkt zum Aktualisieren der Seiten eines Vorgangs. Unterstützt ist aktuell das Ändern der Sortierung und das Ändern der Kategorie.

        Beispiel für umsortieren: [{op: 'move', from: '/seiten/0', path: '/seiten/2'}] Die erste Seite wird hinter die dritte Seite gehangen.

        Beispiel für umsortieren: [{op: 'move', from: '/seiten/0', path: '/seiten/-'}] Die erste Seite wird ans Ende gehangen.

        Beispiel für Kategorie ändern: [{op: 'replace', path: '/seiten/0/kategorie', value: 'Ausweis'}] Die Kategorie der ersten Seite wird geändert
      responses:
        200:
          description: Liste der Seiten
          schema:
            $ref: "#/definitions/Seiten"
        404:
          description: Vorgang nicht gefunden.
          schema:
            $ref: '#/definitions/Error'
        405:
          description: Operation nicht unterstützt
          schema:
            $ref: '#/definitions/Error'
        409:
          description: Der Wert für den Requestparameter "revision" entspricht nicht dem aktuellen Stand.
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Seiten

  /dokumente/kategorien/{kategorieId}:
    put:
      summary: (DEPRECATED) Seiten umkategorisieren - wird ersetzt durch /dokumente/zuordnung/{kategorie}/{bezug}
      description: Die Seiten mit den im Body angegebenen Seitenreferenzen werden der Kategorie {kategorieId} zugeordnet.
      operationId: setzeKategorie
      parameters:
        - name: kategorieId
          in: path
          description: Die Kategorie, der die Seiten zugeordnet werden sollen.
          required: true
          type: string
        - name: seitenReferenzen
          in: body
          description: Die Seiten-Referenzen der Seiten, deren Kategorie geändert werden sollen.
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/SeitenReferenz'
      responses:
        200:
          description: Ok
        400:
          description: Fehler in den Eingabedaten.
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Kategorie nicht gefunden.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
        - oauth2:
            - "API"
      tags:
        - Seiten

  /dokumente/verbindlichkeitsart/{verbindlichkeitsart}:
    put:
      summary: (DEPRECATED) Seiten einer Verbindlichkeitsart zuordnen - wird ersetzt durch /dokumente/zuordnung/{kategorie}
      description: Die Seiten mit den im Body angegebenen Seitenreferenzen werden der Verbindlichkeitsart {verbindlichkeitsart} zugeordnet.
      operationId: setzeVerbindlichkeitsart
      parameters:
        - name: verbindlichkeitsart
          in: path
          description: Die Verbindlichkeitsart, der die Seiten zugeordnet werden sollen.
          required: true
          type: string
        - name: seitenReferenzen
          in: body
          description: Die Seiten-Referenzen der Seiten, deren Verbindlichkeitsart geändert werden sollen.
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/SeitenReferenz'
      responses:
        200:
          description: Ok
        400:
          description: Fehler in den Eingabedaten.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
        - oauth2:
            - "API"
      tags:
        - Seiten


  /dokumente/zuordnung/{kategorie}:
    put:
      summary: Seiten einer Kategorie und einem Bezug zuordnen
      description: Die Seiten mit den im Body angegebenen Seitenreferenzen werden der Kategorie und dem Bezug zugeordnet.
      operationId: setzeZuordnung
      parameters:
        - name: kategorie
          in: path
          description: Die Kategorie, der die Seiten zugeordnet werden sollen.
          required: true
          type: string
        - name: bezug
          in: query
          description: Der Bezug, dem die Seiten zugeordnet werden sollen.
          required: false
          type: string
        #          allowReserved: true
        - name: seitenReferenzen
          in: body
          description: Die Seiten-Referenzen der Seiten, deren Kategorie und Bezug geändert werden sollen.
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/SeitenReferenz'
      responses:
        200:
          description: Ok
        400:
          description: Fehler in den Eingabedaten.
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Kategorie/Bezug nicht gefunden.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
        - oauth2:
            - "API"
      tags:
        - Seiten

  /dokumente/zuordnungen:
    get:
      summary: Liste aller mögliche Zuordnungen (Kategorie und Bezug) von Seiten erhalten.
      description: Welche Zuordnungen stehen in diesem Vorgang für Seiten zur Verfügung.
      operationId: getMoeglicheZuordnungen
      parameters:
        - name: vorgangsNummer
          in: query
          description: Vorgangsnummer
          required: true
          type: string
        - name: teilAntragsNummer
          in: query
          description: Teilantragsnummer, wenn die Unterlagenakte für einen Antrag geöffnet ist
          required: false
          type: string
      responses:
        200:
          description: Ok
          schema:
            type: array
            items:
              $ref: '#/definitions/MoeglicheZuordnung'
        400:
          description: Fehler in den Eingabedaten.
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Vorgang nicht gefunden.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
        - oauth2:
            - "API"
      tags:
        - Seiten

  /dokumente/archiv:
    put:
      summary: Seiten ins Archiv verschieben
      description: Die Seiten mit den im Body angegebenen Seitenreferenzen werden ins Archiv verschoben (archiv-Flag setzen).
      operationId: setArchiv
      parameters:
        - name: seitenReferenzen
          in: body
          description: Die Seiten-Referenzen der Seiten, die ins Archiv verschoben werden sollen.
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/SeitenReferenz'
      responses:
        200:
          description: Ok
        400:
          description: Fehler in den Eingabedaten.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
        - oauth2:
            - "API"
      tags:
        - Seiten
    delete:
      summary: Seiten aus dem Archiv herausholen
      description: Die Seiten mit den im Body angegebenen Seitenreferenzen werden aus dem Archiv zurückgeholt (archiv-flag löschen).
      operationId: unsetArchiv
      parameters:
        - name: seitenReferenzen
          in: body
          description: Die Seiten-Referenzen der Seiten, die aus dem Archiv zurückgeholt werden sollen.
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/SeitenReferenz'
      responses:
        200:
          description: Ok
        400:
          description: Fehler in den Eingabedaten.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
        - oauth2:
            - "API"
      tags:
        - Seiten

  /dokumente/freigabe:
    post:
      summary: Seiten freigeben
      description: |
         Dieser Endpunkt erzeugt ein Set freigegebener Unterlagen für einen Antrag.
      operationId: erzeugeFreigabe
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: freigabe
          description: Freizugebende Seiten für einen Antrag und ProduktAnbieter.
          required: true
          schema:
            type: object
            properties:
              antragsNummer:
                type: string
              callbackUrl:
                description: Wenn angegeben, erfolgt ein POST-Request der Freigabe an diese URL.
                type: string
                format: uri
              seiten:
                type: array
                items:
                  type: object
                  properties:
                    dokumentId:
                      type: string
                      description: ID des referenzierten Dokuments.
                    seite:
                      type: integer
                      format: int32
                      description: Seite im Dokument, 1-basiert.

      responses:
        201:
          description: Freigabe erstellt
          schema:
            type: array
            items:
              $ref: '#/definitions/FreigegebeneUnterlage'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Freigabe
    get:
      summary: Alle freigegebenen Unterlagen
      description: |
         Dieser Endpunkt liefert alle freigegebenen Unterlagen für einen Antrag innerhalb eines Zeitraumes.
      operationId: getFreigaben
      parameters:
      - name: antragsNummer
        in: query
        description: Antragsnummer.
        required: true
        type: string
      - name: von
        in: query
        required: false
        type: string
        format: date-time
      - name: bis
        in: query
        required: false
        type: string
        format: date-time
      responses:
        200:
          description: Eine Liste von freigegebenen Unterlagen.
          schema:
            type: array
            items:
              $ref: '#/definitions/FreigegebeneUnterlage'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Freigabe

  /dokumente/freigaben/content:
    get:
      summary: Den Inhalt aller erfolgreich freigegebenen Unterlagen als ZIP-Archiv herunterladen
      description: |
         Dieser Endpunkt liefert ein ZIP-Archiv, in dem alle für einen Teilantrag erfolgreich freigegebenen Unterlagen als PDF-Dateien enthalten sind.
      operationId: downloadFreigaben
      parameters:
      - name: teilAntragsNummer
        in: query
        description: Teilantragsnummer
        required: true
        type: string
      produces:
        - "application/zip"
      responses:
        200:
          description: Ein ZIP-Archiv mit allen für den Teilantrag erfolgreich freigegebenen Unterlagen als PDF-Dateien
          schema:
            type: file
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Freigabe

  /dokumente/freigabe/{id}:
    get:
      summary: Eine freigegebene Unterlage
      description: |
        Dieser Endpunkt liefert eine freigegebene Unterlage.
      operationId: getFreigabe
      parameters:
        - name: id
          in: path
          description: Id der freigegebenen Unterlage
          required: true
          type: string

      responses:
        200:
          description: Eine freigegebene Unterlage.
          schema:
            $ref: '#/definitions/FreigegebeneUnterlage'
        404:
          description: Freigegebene Unterlage not found.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Freigabe

  /dokumente/freigabe/{id}/content:
    get:
      summary: Eine freigegebene Unterlage runterladen
      description: |
        An diesen Endpunkt kann der Inhalt einer freigegebenen Unterlage heruntergeladen werden.
      operationId: downloadFreigabe
      produces:
      - "application/pdf"
      parameters:
      - name: id
        in: path
        description: Unique identifier der freigegebenen Unterlage.
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            type: file
        404:
          description: Dokument nicht gefunden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Freigabe

  /dokumente/freigabe/{id}/status:
    get:
      summary: Freigabestatus auslesen
      description: |
        Dieser Endpunkt liefert den Abrufstatus einer freigegebene Unterlage.
      operationId: getFreigegebeneUnterlageStatus
      parameters:
        - name: id
          in: path
          description: Id der freigegebenen Unterlage
          required: true
          type: string
      responses:
        200:
          description: Status der freigegebenen Unterlage.
          schema:
            $ref: '#/definitions/Abrufstatus'
        404:
          description: Freigegebene Unterlage not found.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Freigabestatus setzen
      description: |
        Dieser Endpunkt setzt den Abrufstatus einer freigegebenen Unterlage.
      operationId: setFreigegebeneUnterlageStatus
      parameters:
        - name: id
          in: path
          description: Id der freigegebenen Unterlage
          required: true
          type: string
        - name: abrufstatus
          in: body
          required: true
          schema:
            $ref: '#/definitions/Abrufstatus'
      responses:
        201:
          description: Keine Rückgabe-Objekte.
        404:
          description: Freigegebene Unterlage not found.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Freigabe

  /dokumente/revision:
    get:
      summary: Revisionnummern der Daten zum angegebenen Vorgang
      description: |
        Liefert die aktuellen Revisionsnummern der Resourcen zum angegebenen Vorgang. Jede Änderung einer Resource ändert deren Revisionsnummer.
      operationId: getRevision
      produces:
        - application/json
      parameters:
        - name: vorgangsNummer
          in: query
          description: Vorgangsnummer der Dokumente.
          required: true
          type: string
      responses:
        200:
          description: Revisionsnummern der verschiedenen Resourcen des Vorgangs
          schema:
            $ref: "#/definitions/Revision"
        404:
          description: Vorgang nicht gefunden.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
        - oauth2:
            - "API"
      tags:
        - Revision

securityDefinitions:
  oauth2:
    type: oauth2
    tokenUrl: "https://api.europace.de/login"
    flow: password
    scopes:
      API: Authorisation Scope für die gesamte API.

definitions:
  Dokument:
    description: |
      Ein Dokument ist eine hochgeladene Datei und kann aus einer oder mehreren - z.b. gescannten - Unterlagen bestehen.
    type: object
    properties:
      id:
        type: string
        description: Unique identifier des Dokuments.
      schluessel:
        type: string
        description: Öffentlicher Schlüssel der Dokumentenverwaltung.
      anzeigename:
        type: string
        description: Anzeigename, kann verändert werden.
      filename:
        type: string
        description: Name der original hochgeladenen Datei.
      erstellungsdatum:
        type: string
        format: date-time
        description: Gibt das Datum an, an dem Das Dokument hochgeladen wurde, sich also der Inhalt geändert hat.
      type:
        type: string
        description: Media-Type nach https://tools.ietf.org/html/rfc6838.
      size:
        type: integer
        format: int64
        description: Größe des Inhalts des Dokuments in Bytes.
      vorgangsNummer:
        type: string
        description: Vorgang dem das Dokument zugeordnet ist.
      verschluesselt:
        type: boolean
        description: Gibt an, ob das Dokument verschlüsselt ist
      kategorisierungsStatus:
        type: object
        description: |
          Status der Kategorisierung des Dokuments.
        $ref: "#/definitions/KategorisierungsStatus"
      _links:
        type: object
        properties:
          self:
            $ref: "#/definitions/Relation"
            description: Self relation
          preview:
            $ref: "#/definitions/Relation"
            description: Base URL für die Preview Images
          kategorisierung:
            $ref: "#/definitions/Relation"
            description: URL zur Kategorisierung
          download:
            $ref: "#/definitions/Relation"
            description: URL zum Runterladen des Dokuments (intern)
          publicDownload:
            $ref: "#/definitions/Relation"
            description: URL zum Runterladen des Dokuments (öffentlich)
          seiten:
            $ref: "#/definitions/Relation"
            description: URL zu den Seiten des Dokuments

  KategorisierungsStatus:
      type: object
      description: |
        Wenn die Kategorisierung noch läuft, kann der Status der Kategorisierung erfragt werden.
      properties:
        status:
          type: string
          enum:
           - 'NEW'
           - 'IN_PROGRESS'
           - 'DONE'
           - 'ERROR'
        progress:
          type: integer
          format: int32
          description: |
            Progress Wert in Prozent 0 - 100
        meldung:
          type: string
          description: Eine Meldung für den Nutzer, die den Grund für den Status beschreibt oder nähere Informationen liefert. Kann null sein.

  Seiten:
    type: object
    properties:
      revision:
        type: string
        description: (DEPRECATED) zufällige ID, die immer dann geändert wird, wenn Seiten umsortiert werden.
      seiten:
        type: array
        items:
          $ref: "#/definitions/Seite"

  Seite:
    type: object
    description: |
      Definiert eine Seite eines Dokuments.
    properties:
      dokumentId:
        type: string
        description: ID des referenzierten Dokuments.
      seite:
        type: integer
        format: int32
        description: Seite im Dokument, 1-basiert.
      klassifizierung:
        type: object
        properties:
          kategorien:
            description: |
              Kategorien der Seite nach Relevanz sortiert.
              Das erste Element beinhaltet die höchste Relevanz.
            type: array
            items:
              type: string
              example: Personalausweis
      kategorie:
        description: |
          Die Kategorie der Seite bildet zusammen mit dem Bezug die Zuordnung.
          Manuell gesetzte Kategorie der Seite. Initial die wahrscheinlichste Kategorie,
          wenn die Kategorisierung hinreichend sicher ist, ansonsten wird die Kategorie nicht gesetzt.
        type: string
      verbindlichkeitsart:
        description: Art der Verbindlichkeit
        type: string
      bezug:
        description: Der Bezug der Seite bildet zusammen mit der Kategorie die Zuordnung.
        type: string
      archiviert:
        type: boolean
        description: Archivierungsstatus der Seite.
      freigaben:
        type: array
        description: Angaben zu Freigaben dieser Seite
        items:
          $ref: "#/definitions/SeitenFreigabe"
      _links:
        type: object
        properties:
          self:
            $ref: "#/definitions/Relation"
            description: Self relation
          preview:
            $ref: "#/definitions/Relation"
            description: URL Template für die Preview Images

  SeitenReferenz:
    type: object
    description: |
      Referenziert eine Seite eines Dokuments.
    properties:
      dokumentId:
        type: string
        description: ID des referenzierten Dokuments.
      seite:
        type: integer
        format: int32
        description: Seite im Dokument, 1-basiert.

  SeitenFreigabe:
    type: object
    description: |
      Angaben zur Freigabe dieser Seite
    properties:
      abrufStatus:
        $ref: "#/definitions/Abrufstatus"
      antragsNummer:
        type: string
        description: Antrag in dem diese Seite bereits freigegeben wurde
      datum:
        type: string
        format: date-time
        description: Gibt das Datum an, an dem das Dokument freigegeben wurde.

  FreigegebeneUnterlage:
    type: object
    description: |
      Mehrseitige vom Vertrieb fuer den Produktanbieter freigegebene Unterlage.
      Die Unterlage besitzt eine Kategorie und bezieht sich auf ein Bezugsobjekt.
    properties:
      id:
        type: string
        description: Unique identifier der freigegebenen Unterlage.
      antragsNummer:
        type: string
        description: Antragsnummer
      anzeigename:
        type: string
        description: Anzeigename.
      filename:
        type: string
        description: Name der Datei.
      freigabedatum:
        type: string
        format: date-time
        description: Gibt das Datum an, an dem die Unterlage freigegeben wurde.
      mediaType:
        type: string
        description: Media-Type nach https://tools.ietf.org/html/rfc6838.
      kategorie:
        description: Die Kategorie der Freigabe.
        type: string
      bezug:
        $ref: "#/definitions/Bezugsobjekt"
        description: Bezugsobjekt der Unterlage, wenn vorhanden
      verbindlichkeitsart:
        description: Art der Verbindlichkeit.
        type: string
      freigebender:
        $ref: "#/definitions/Partner"
        description: freigebender Vermittler
      abrufstatus:
        $ref: "#/definitions/Abrufstatus"
      _links:
        type: object
        properties:
          self:
            description: Self Relation
            $ref: "#/definitions/Relation"
          download:
            description: URL zum Runterladen der freigegebenen Unterlage.
            $ref: "#/definitions/Relation"
          publicDownload:
            description: URL zum Runterladen des freigegebenen Unterlage (öffentlich)
            $ref: "#/definitions/Relation"
          abrufstatus:
            description: URL zum Abfragen und Setzen des Abrufstatus
            $ref: "#/definitions/Relation"

  Abrufstatus:
    type: object
    properties:
      status:
        type: string
        enum:
        - CREATED
        - IN_PROGRESS
        - FAILED
        - DELIVERED
      message:
        type: string

  Bezugsobjekt:
    type: object
    properties:
      id:
        type: string
        description: Id des Bezugsobjekts (innerhalb eines Teilantrags eindeutig).
        example: "Immobilie:4711"
      typ:
        type: string
        description: Typ des Bezugsobjekts.
        example: "Immobilie"
      bezeichnung:
        type: string
        description: Typ des Bezugsobjekts.
        example: "Finanzierungsobjekt Feldweg 17"

  Partner:
    type: object
    properties:
      partnerId:
        type: string
        description: Id eines Partners auf der Europace-Plattform. Identifiziert eine Plakette im Partnermanagement.
        example: ABC45

  PatchRequest:
    type: array
    items:
      type: object
      description: A JSONPatch document as defined by RFC 6902
      required:
       - "op"
       - "path"
      properties:
       op:
        type: string
        description: The operation to be performed
        enum:
         - "add"
         - "remove"
         - "replace"
         - "move"
         - "copy"
         - "test"
       path:
        type: string
        description: A JSON-Pointer
       value:
        type: object
        description: The value to be used within the operations.
       from:
        type: string
        description: A string containing a JSON Pointer value.
    example:

  Relation:
    type: object
    properties:
      href:
        type: string
        format: uri
        description: A HAL Ref
      type:
        type: string
        description: Media-Type nach https://tools.ietf.org/html/rfc6838.

  Revision:
    type: object
    properties:
      dokumenteRevision:
        type: string
        description: Revisionsnummer der Dokumente des Vorgangs.
      seitenRevision:
        type: string
        description: Revisionsnummer der Dokumentseiten des Vorgangs.

  MoeglicheZuordnung:
    type: object
    properties:
      kategorie:
        type: string
        description: Technische Bezeichnung der Kategorie.
      label:
        type: string
        description: Für den Nutzer sichtbare Bezeichnung der Kategorie.
      beschreibung:
        type: string
        description: Eine nähere Beschreibung, was mit der Kategorie erfasst werden soll (optional).
      hinweistext:
        type: string
        description: Ein Hinweistext, der dem Nutzer für Unterlagen in dieser Kategorie angezeigt werden soll (optional, kann Markdown-Formatierung verwenden).
      bezuege:
        type: array
        items:
          type: object
          description: Mögliche Bezugsobjekte für diese Kategorie
          required:
            - "op"
            - "path"
          properties:
            bezug:
              type: string
              description: Id des Bezuges
            label:
              type: string
              description: Anzeigename für diesen Bezug
            oberkategorie:
              type: string
              description: Anzeigename der Gruppe in die Seiten gehören, für die diese Zuordnung ausgewählt wurde.

  Error:
    type: object
    properties:
      message:
        type: string
      statusCode:
        type: integer
        format: int32
      statusMessage:
        type: string
      timestamp:
        type: string
        format: date-time
      traceId:
        type: string
    title: Error
