# this is the description of the Europace Dokumente API
swagger: '2.0'
info:
  title: Dokumente API
  description: API rund um Plattformdokumente
  version: "0.16.0"
host: "api.europace.de"
schemes:
  - https
# will be prefixed to all paths
basePath: /v1
produces:
  - application/json

paths:
  /dokumente:
    post:
      summary: Dokument erstellen
      description: |
        An diesen Endpunkt kann ein Dokument samt Metadaten per Form-Data hochgeladen werden.
      operationId: uploadDokument
      consumes:
      - multipart/form-data
      parameters:
      - in: formData
        required: true
        name: content
        type: file
        description: Inhalt des Dokuments.
      - in: formData
        required: false
        name: anzeigename
        type: string
        description: Name zur Anzeige auf der Oberfläche.
      - in: formData
        required: false
        name: vorgangsNummer
        type: string
        description: Vorgangsnummer, dem das Dokument zugeordnet werden soll.
      responses:
        201:
          description: Dokument erfolgreich hochgeladen
          schema:
            $ref: '#/definitions/Dokument'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Dokumente
    get:
      summary: Alle Dokumente
      description: |
        Dieser Endpunkt liefert alle Dokumente, auf die ich Zugriff habe. Da dies viele Dokumente sein können,
        lässt sich die Menge über Filter reduzieren.
      operationId: getDokumente
      parameters:
        - name: vorgangsNummer
          in: query
          description: Vorgangsnummer um nur Dokumente eines bestimmten Vorgangs zu erhalten.
          required: false
          type: string
      # Hier ggf. Parameter Hochgeladenes Dokument
      responses:
        200:
          description: Eine Liste von Dokumenten
          schema:
            type: array
            items:
              $ref: '#/definitions/Dokument'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Dokumente

  /dokumente/{dokumentId}:
    get:
      summary: Ein Dokument
      description: |
        Ein Dokument mit angegebener dokumentId.
      operationId: getDokument
      produces:
      - "application/json;charset=UTF-8"
      parameters:
      - name: dokumentId
        in: path
        description: Unique identifier des Dokuments.
        required: true
        type: string
      responses:
        200:
          description: Ein Dokument
          schema:
            $ref: '#/definitions/Dokument'
        404:
          description: Dokument nicht gefunden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Dokumente
    put:
      summary: Dokument aktualisieren
      description: |
        Update der Dokument Metadaten.
      operationId: updateDokument
      consumes:
        - application/json
        - multipart/form-data
      parameters:
        - in: path
          name: dokumentId
          description: Unique identifier des Dokuments.
          required: true
          type: string
        - in: body
          name: dokument
          description: Dokument als JSON oder Attribute als Formparameter
          schema:
            $ref: '#/definitions/Dokument'
      responses:
        200:
          description: Metadaten des Dokuments erfolgreich aktualisiert
          schema:
            $ref: '#/definitions/Dokument'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Dokumente
    delete:
      summary: Dokument löschen
      description: |
        An diesen Endpunkt kann das Dokument gelöscht werden.
      operationId: deleteDokument
      parameters:
      - name: dokumentId
        in: path
        description: Unique identifier des Dokuments.
        required: true
        type: string
      responses:
        200:
          description: Dokument erfolgreich gelöscht
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Dokumente

  /dokumente/{dokumentId}/content:
    get:
      summary: Ein Dokument runterladen
      description: |
        An diesen Endpunkt kann der Inhalt eines Dokuments heruntergeladen werden.
      operationId: downloadDokument
      produces:
      - "application/pdf"
      parameters:
      - name: dokumentId
        in: path
        description: Unique identifier des Dokuments.
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            type: file
        404:
          description: Dokument nicht gefunden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Dokumente

  /dokumente/{dokumentId}/preview:
    get:
      summary: Vorschaubild
      description: |
        Der Endpunkt liefert das Vorschaubild einer Seite eines Dokuments.
      operationId: getPreview
      produces:
        - image/jpeg
        - application/json
      parameters:
      - name: dokumentId
        in: path
        description: Unique identifier des Dokuments.
        required: true
        type: string
      - name: page
        in: query
        description: anzuzeigende Seite, 1-basiert
        required: true
        type: integer
        format: int32
      - name: size
        in: query
        description: "Bildgröße: small oder large"
        default: 'small'
        type: string
        enum:
          - 'small'
          - 'large'
      responses:
        200:
          description: Vorschaubild in JPEG
          schema:
            type:
              file
        404:
          description: Dokument nicht gefunden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Dokumente

  /dokumente/{dokumentId}/kategorisierung:
    post:
      summary: Starte Kategorisierung eines Dokuments
      description: |
        Die Kategorisierung eines Dokuments laden.
      operationId: starteKategorisierung
      parameters:
      - name: dokumentId
        in: path
        description: Unique identifier des Dokuments.
        required: true
        type: string
      - name: kategorisierungsAnfrage
        in: body
        description: Alle zur Kategorisierung durch SmartCat notwendigen Informationen.
        required: true
        schema:
          $ref: '#/definitions/KategorisierungsAnfrage'
      responses:
        200:
          description: Eine Kategorisierung eines Dokuments starten
        404:
          description: Dokument nicht gefunden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Dokumente
    get:
      summary: Lade die Kategorisierung eines Dokuments
      description: |
        Die Kategorisierung eines Dokuments laden.
      operationId: getKategorisierung
      parameters:
      - name: dokumentId
        in: path
        description: Unique identifier des Dokuments.
        required: true
        type: string
      responses:
        200:
          description: |
            Die Kategorisierung eines Dokuments ist abgeschlossen, die Unterlagen können geladen werden
          schema:
            $ref: '#/definitions/KategorisierungsStatus'
        202:
          description: Die Kategorisierung ist noch nicht abgeschlossen.
          schema:
            $ref: '#/definitions/KategorisierungsStatus'
        404:
          description: Dokument nicht gefunden oder Kategorisierung noch nicht gestartet.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Dokumente

  /dokumente/{dokumentId}/unterlagen:
    get:
      summary: Unterlagen eines Dokuments
      description: |
        Lade die Unterlagen eines Dokuments.
      operationId: getDokumentUnterlagen
      parameters:
      - name: dokumentId
        in: path
        description: Unique identifier des Dokuments.
        required: true
        type: string
      produces:
        - application/json
      responses:
        200:
          description: Liste der Unterlagen des Dokuments
          schema:
            type: array
            items:
              $ref: "#/definitions/Unterlage"
        404:
          description: Dokument nicht gefunden oder Unterlagen existieren nicht.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Unterlagen

  /dokumente/unterlagen:
    get:
      summary: Unterlagen eines Vorgangs
      description: |
        Lade die Unterlagen eines Vorgangs.
      operationId: getVorgangsUnterlagen
      produces:
        - application/json
      parameters:
      - name: vorgangsNummer
        in: query
        description: Vorgangsnummer der Unterlagen.
        required: true
        type: string
      responses:
        200:
          description: Liste der Unterlagen eines Vorgangs
          schema:
            type: array
            items:
              $ref: "#/definitions/Unterlage"
        404:
          description: Vorgang oder Unterlagen nicht gefunden.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Unterlagen
    put:
      summary: Korrigiere kategorisierte Unterlagen
      description: |
        Hiermit können die Unterlagen eines Vorgangs aktualisiert werden. Es ist Möglich die Reihenfolge der Unterlagen um Array zu ändern,
        sowie die manuelleKategorie innerhalb der einzelnen Unterlagen.
      operationId: updateVorgangsUnterlagen
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
      - name: unterlagen
        in: body
        description: Die aktualisierten Unterlage.
        schema:
          type: array
          items:
            $ref: "#/definitions/Unterlage"
      responses:
        200:
          description: Unterlage erfolgreich korrigiert
          schema:
            $ref: '#/definitions/Kategorisierung'
        404:
          description: Kategorisierung nicht gefunden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Unterlagen

  /dokumente/freigabe:
    post:
      summary: Unterlagen freigeben
      description: |
         Dieser Endpunkt erzeugt ein Set freigegebener Unterlagen für einen Antrag.
      operationId: erzeugeFreigabe
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: freigabe
          description: Freizugebende Unterlagen für einen Antrag und ProduktAnbieter.
          required: true
          schema:
            type: object
            properties:
              antragsNummer:
                type: string
              callbackUrl:
                description: Wenn angegeben, erfolgt ein POST-Request der Freigabe an diese URL.
                type: string
                format: uri
              unterlagen:
                type: array
                items:
                  $ref: '#/definitions/Unterlage'
      responses:
        201:
          description: Die Liste der freigegebenen Unterlagen.
          schema:
            type: array
            items:
              $ref: '#/definitions/FreigegebeneUnterlage'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Freigabe
    get:
      summary: Alle freigegebenen Unterlagen
      description: |
         Dieser Endpunkt liefert alle freigegebenen Unterlagen für einen Antrag innerhalb eines Zeitraumes.
      operationId: getFreigaben
      parameters:
      - name: antragsNummer
        in: query
        description: Antragsnummer.
        required: true
        type: string
      - name: von
        in: query
        required: false
        type: string
        format: date-time
      - name: bis
        in: query
        required: false
        type: string
        format: date-time
      responses:
        200:
          description: Eine Liste von freigegebenen Unterlagen.
          schema:
            type: array
            items:
              $ref: '#/definitions/FreigegebeneUnterlage'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Freigabe

  /dokumente/freigabe/{id}:
    get:
      summary: Eine freigegebene Unterlage
      description: |
        Dieser Endpunkt liefert eine freigegebene Unterlage.
      operationId: getFreigabe
      parameters:
        - name: id
          in: path
          description: Id der freigegebenen Unterlage
          required: true
          type: string

      responses:
        200:
          description: Eine freigegebene Unterlage.
          schema:
            $ref: '#/definitions/FreigegebeneUnterlage'
        404:
          description: Freigegebene Unterlage not found.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Freigabe

  /dokumente/freigabe/{id}/content:
    get:
      summary: Eine freigegebene Unterlage runterladen
      description: |
        An diesen Endpunkt kann der Inhalt einer freigegebenen Unterlage heruntergeladen werden.
      operationId: downloadFreigabe
      parameters:
      - name: id
        in: path
        description: Unique identifier der freigegebenen Unterlage.
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            type: file
        404:
          description: Dokument nicht gefunden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Freigabe

  /dokumente/freigabe/{id}/status:
    get:
      summary: Freigabestatus auslesen
      description: |
        Dieser Endpunkt liefert den Abrufstatus einer freigegebene Unterlage.
      operationId: getFreigegebeneUnterlageStatus
      parameters:
        - name: id
          in: path
          description: Id der freigegebenen Unterlage
          required: true
          type: string
      responses:
        200:
          description: Status der freigegebenen Unterlage.
          schema:
            $ref: '#/definitions/Abrufstatus'
        404:
          description: Freigegebene Unterlage not found.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Freigabestatus setzen
      description: |
        Dieser Endpunkt setzt den Abrufstatus einer freigegebenen Unterlage.
      operationId: setFreigegebeneUnterlageStatus
      parameters:
        - name: id
          in: path
          description: Id der freigegebenen Unterlage
          required: true
          type: string
        - name: abrufstatus
          in: body
          required: true
          schema:
            $ref: '#/definitions/Abrufstatus'
      responses:
        201:
          description: Keine Rückgabe-Objekte.
        404:
          description: Freigegebene Unterlage not found.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Freigabe

securityDefinitions:
  oauth2:
    type: oauth2
    tokenUrl: "https://api.europace.de/login"
    flow: password
    scopes:
      API: Authorisation Scope für die gesamte API.

definitions:
  Dokument:
    description: |
      Ein Dokument ist eine hochgeladene Datei und kann eus einer oder mehreren - z.b. gescannten - Unterlagen bestehen.
    type: object
    properties:
      id:
        type: string
        description: Unique identifier des Dokuments.
      schluessel:
        type: string
        description: Öffentlicher Schlüssel der Dokumentenverwaltung.
      anzeigename:
        type: string
        description: Anzeigename, kann verändert werden.
      filename:
        type: string
        description: Name der original hochgeladenen Datei.
      erstellungsdatum:
        type: string
        format: date-time
        description: Gibt das Datum an, an dem Das Dokument hochgeladen wurde, sich also der Inhalt geändert hat.
      type:
        type: string
        description: Media-Type nach https://tools.ietf.org/html/rfc6838.
      size:
        type: integer
        format: int64
        description: Größe des Inhalts des Dokuments in Bytes.
      vorgangsNummer:
        type: string
        description: Vorgang dem das Dokument zugeordnet ist.
      kategorisierungsStatus:
        type: object
        description: |
          Status der Kategorisierung des Dokuments.
        $ref: "#/definitions/KategorisierungsStatus"
      _links:
        type: object
        properties:
          self:
            $ref: "#/definitions/Relation"
            description: Self relation
          preview:
            $ref: "#/definitions/Relation"
            description: Base URL für die Preview Images
          kategorisierung:
            $ref: "#/definitions/Relation"
            description: URL zur Kategorisierung
          download:
            $ref: "#/definitions/Relation"
            description: URL zum Runterladen des Dokuments (intern)
          publicDownload:
            $ref: "#/definitions/Relation"
            description: URL zum Runterladen des Dokuments (öffentlich)

  KategorisierungsAnfrage:
      type: object
      description: |
        Alle Metadaten nach denen SmartCat im Dokument suchen soll.
      properties:
        kategorisierungsModell:
          type: string
          description: |
            Wählt das Modell, mit dem SmartCat das dokument katgorisieren soll.
          enum:
           - 'BAUFI'
           - 'RATE'
        bezuege:
          type: array
          items:
            type: object
            properties:
              bezug:
                $ref: "#/definitions/Bezug"
              bezugsDetails:
                type: array
                items:
                  type: object
                  properties:
                    key:
                      type: string
                      enum:
                      - 'VORNAME'
                      - 'NACHNAME'
                      - 'TITEL'
                      - 'GEBURTSDATUM'
                      - 'PLZ'
                      - 'STADT'
                      - 'STRASSE'
                      - 'HAUSNUMMER'
                      - 'IBAN'
                      - 'BIC'
                      - 'EINKOMMENBRUTTO'
                      - 'EINKOMMENNETTO'
                      - 'STEUERID'
                    value:
                      type: string

  KategorisierungsStatus:
      type: object
      description: |
        Wenn die Kategorisierung noch läuft, kann der Status der Kategorisierung erfragt werden.
      properties:
        status:
          type: string
          enum:
           - 'NEW'
           - 'IN_PROGRESS'
           - 'DONE'
           - 'ERROR'
        progress:
          type: integer
          format: int32
          description: |
            Progress Wert in Prozent 0 - 100

  Kategorisierung:
    type: object
    description: |
      Enthält alle kategorisierten Unterlagen eines Dokuments als Liste.
    properties:
      kategorien:
        description: |
          Alle möglichen Kategorien, die eine Unterlage enthalten kann.
        type: array
        items:
          type: string
      unterlagen:
        type: array
        items:
          $ref: "#/definitions/Unterlage"
      _links:
        type: object
        properties:
          self:
            $ref: "#/definitions/Relation"
            description: Self relation

  Unterlage:
    type: object
    description: |
      Enthält alle kategorisierten Seiten der Dokumente eines Vorgangs.
    properties:
      klassifizierung:
        type: object
        properties:
          kategorien:
            description: |
              Kategorien des Dokuments nach Relevanz sortiert.
              Das erste Element beinhaltet die höchste Relevanz.
            type: array
            items:
              type: string
              example: Personalausweis
      kategorie:
        description: |
          Manuell gesetzte Kategorie der Seite der Unterlage. Initial die wahrscheinlichste Kategorie,
          wenn die Kategorisierung hinreichend sicher ist, ansonsten wird die Kategorie nicht gesetzt.
        type: string
      bezug:
        $ref: "#/definitions/Bezug"
      seiten:
        type: array
        items:
          $ref: "#/definitions/Seite"

  Bezug:
    type: object
    description: |
      Zuordnung einer Unterlage zu einem Antrag und dem entsprechenden Business-Object.
    properties:
      typ:
        type: string
        description: |
        enum:
          - 'ANTRAGSTELLER'
          - 'IMMOBILIE'
          - 'VORHABEN'
          - 'HAUSHALT'
      anzeigename:
         description: Name des Bezugsobjektes
         example: Max Mustermann
         type: string
      referenzId:
         type: string
         description: |
           Identifier des Bezugsobjekts wie Antragsteller oder Immobilie, auf die sich
           diese Zuordnung bezieht.

  Seite:
    type: object
    description: |
      Definiert eine Seite eines Dokuments.
    properties:
      dokumentId:
        type: string
        description: ID des referenzierten Dokuments.
      seite:
        type: integer
        format: int32
        description: Seite im Dokument, 1-basiert.
      preview:
        $ref: "#/definitions/Relation"
        description: URL für die Preview Images

  FreigegebeneUnterlage:
    type: object
    description: |
      Mehrseitige vom Vertrieb fuer den Produktanbieter freigegebene Unterlage.
      Die Unterlage besitzt eine Kategorie und bezieht sich auf ein Bezugsobjekt.
    properties:
      id:
        type: string
        description: Unique identifier der freigegebenen Unterlage.
      antragsNummer:
        type: string
        description: Antragsnummer
      anzeigename:
        type: string
        description: Anzeigename.
      filename:
        type: string
        description: Name der Datei.
      freigabedatum:
        type: string
        format: date-time
        description: Gibt das Datum an, an dem die Unterlage freigegeben wurde.
      mediaType:
        type: string
        description: Media-Type nach https://tools.ietf.org/html/rfc6838.
      kategorie:
        description: Kategorie.
        type: string
      bezug:
        $ref: "#/definitions/Bezug"
      freigebender:
        $ref: "#/definitions/Partner"
        description: freigebender Vermittler
      abrufstatus:
        $ref: "#/definitions/Abrufstatus"
      _links:
        type: object
        properties:
          self:
            description: Self Relation
            $ref: "#/definitions/Relation"
          download:
            description: URL zum Runterladen der freigegebenen Unterlage.
            $ref: "#/definitions/Relation"
          publicDownload:
            description: URL zum Runterladen des freigegebenen Unterlage (öffentlich)
            $ref: "#/definitions/Relation"
          abrufstatus:
            description: URL zum Abfragen und Setzen des Abrufstatus
            $ref: "#/definitions/Relation"

  Abrufstatus:
    type: object
    properties:
      status:
        type: string
        enum:
        - CREATED
        - IN_PROGRESS
        - FAILED
        - DELIVERED
      message:
        type: string

  Partner:
    type: object
    properties:
      partnerId:
        type: string
        description: Id eines Partners auf der Europace-Plattform. Identifiziert eine Plakette im Partnermanagement.
        example: ABC45

  Relation:
    type: object
    properties:
      href:
        type: string
        format: uri
        description: A HAL Ref
      type:
        type: string
        description: Media-Type nach https://tools.ietf.org/html/rfc6838.

  Error:
    type: object
    properties:
      message:
        type: string
      statusCode:
        type: integer
        format: int32
      statusMessage:
        type: string
      timestamp:
        type: string
        format: date-time
      traceId:
        type: string
    title: Error
