# this is the description of the Europace Dokumente API
swagger: '2.0'
info:
  title: Dokumente API
  description: API rund um Plattformdokumente
  version: "0.4.1"
host: "dokumente.api.europace.de"
schemes:
  - https
# will be prefixed to all paths
basePath: /v1
produces:
  - application/json

paths:
  /dokumente:
    post:
      summary: Dokument erstellen
      description: |
        An diesen Endpunkt kann ein Dokument samt Metadaten per Form-Data hochgeladen werden.
      operationId: uploadDokument
      consumes:
      - multipart/form-data
      parameters:
      - in: formData
        required: true
        name: content
        type: file
        description: Inhalt des Dokuments.
      - in: formData
        required: false
        name: anzeigename
        type: string
        description: Name zur Anzeige auf der Oberfläche.
      - in: formData
        required: false
        name: filename
        type: string
        description: Name der Datei.
      - in: formData
        required: false
        name: erstellungsdatum
        type: string
        format: date-time
        description: Datum an welchem das Dokument erstellt wurde.
      - in: formData
        required: false
        name: vorgangsNummer
        type: string
        description: Vorgangsnummer, dem das Dokument zugeordnet werden soll.
      responses:
        201:
          description: Dokument erfolgreich hochgeladen
          schema:
            $ref: '#/definitions/Dokument'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Dokumente
    get:
      summary: Alle Dokumente
      description: |
        Dieser Endpunkt liefert alle Dokumente, auf die ich Zugriff habe. Da dies viele Dokumente sein können,
        lässt sich die Menge über Filter reduzieren.
      operationId: getDokumente
      parameters:
        - name: vorgangsNummer
          in: query
          description: Vorgangsnummer um nur Dokumente eines bestimmten Vorgangs zu erhalten.
          required: false
          type: string
      # Hier ggf. Parameter Hochgeladenes Dokument
      responses:
        200:
          description: Eine Liste von Dokumenten
          schema:
            type: array
            items:
              $ref: '#/definitions/Dokument'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Dokumente

  /dokumente/{id}:
    get:
      summary: Ein Dokument
      description: |
        Ein Dokument mit angegebener dokumentId.
      operationId: getDokument
      produces:
      - "application/json;charset=UTF-8"
      parameters:
      - name: id
        in: path
        description: Unique identifier des Dokuments.
        required: true
        type: string
      responses:
        200:
          description: Ein Dokument
          schema:
            $ref: '#/definitions/Dokument'
        404:
          description: Dokument nicht gefunden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Dokumente
    put:
      summary: Dokument aktualisieren
      description: |
        Update der Dokument Metadaten.
      operationId: updateDokument
      parameters:
      - in: path
        name: id
        description: Unique identifier des Dokuments.
        required: true
        type: string
      requestBody:
        description: Dokument als JSON oder Attribute als Formparameter
        required: true
        content:
          application/json:
            schema:
            $ref: '#/definitions/Dokument'
          multipart/form-data:
            schema:
              properties:
                anzeigename:
                  required: false
                  type: string
                  description: Name zur Anzeige auf der Oberfläche.
                filename:
                  required: false
                  type: string
                  description: Name der Datei.
                erstellungsdatum:
                  required: false
                  type: string
                  format: date-time
                  description: Datum an welchem das Dokument erstellt wurde.
                vorgangsNummer:
                  required: false
                  type: string
                  description: Vorgangsnummer, dem das Dokument zugeordnet werden soll.
      responses:
        200:
          description: Metadaten des Dokuments erfolgreich aktualisiert
          schema:
            $ref: '#/definitions/Dokument'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Dokumente
    delete:
      summary: Dokument löschen
      description: |
        An diesen Endpunkt kann das Dokument gelöscht werden.
      operationId: deleteDokument
      parameters:
      - name: id
        in: path
        description: Unique identifier des Dokuments.
        required: true
        type: string
      responses:
        200:
          description: Dokument erfolgreich gelöscht
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Dokumente

  /dokumente/{id}/content:
    get:
      summary: Ein Dokument runterladen
      description: |
        An diesen Endpunkt kann der Inhalt eines Dokuments heruntergeladen werden.
      operationId: getContent
      parameters:
      - name: id
        in: path
        description: Unique identifier des Dokuments.
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            type: file
        404:
          description: Dokument nicht gefunden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Dokumente

  /dokumente/{id}/klassifizierung:
    get:
      summary: Lade alle Klassifizierungen eines Dokuments
      description: |
        Die Klassifizierungen eines Dokuments laden.
      operationId: getKlassifizierung
      parameters:
      - name: id
        in: path
        description: Unique identifier des Dokuments.
        required: true
        type: string
      responses:
        200:
          description: Eine Klassifizierung eines Dokuments
          schema:
            $ref: '#/definitions/Klassifizierung'
        204:
          description: Die Klassifizierung ist noch nicht abgeschlossen.
          schema:
            $ref: '#/definitions/KlassifizierungsStatus'
        404:
          description: Klassifizierungen nicht gefunden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Dokumente

  /dokumente/{id}/klassifizierung/unterlagen/{unterlagenNummer}:
  # TODO: Stößt dieser Request ein ernuete SmartCat-Klassifizierung an oder dient er lediglich zum Trainieren des Modells für soätere Klassifizierungs-Anfragen?
    put:
      summary: Korrigiere Klassifizierungsbereich
      description: |
        Korrigiere Klassifizierung der Unterlagen der angegebenen Klassifizierung, um SmartCat Feedback zu liefern.
      operationId: updateKlassifizierung
      parameters:
      - name: id
        in: path
        description: Unique identifier des Dokuments.
        required: true
        type: string
      - name: unterlagenNummer
        in: path
        description: Nummer des zu aktualisierenden Bereiches.
        required: true
        type: integer
        format: int32
      - in: body
        name: bereich
        description: Die aktualisierte Unterlage.
        schema:
          $ref: "#/definitions/Unterlage"
      consumes:
        - application/json
      responses:
        200:
          description: Bereich erfolgreich korrigiert
          schema:
            $ref: '#/definitions/Klassifizierung'
        404:
          description: Klassifizierung nicht gefunden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Dokumente

securityDefinitions:
  oauth2:
    type: oauth2
    tokenUrl: "https://api.europace.de/login"
    flow: password
    scopes:
      API: Authorisation Scope für die gesamte API.

definitions:
  Dokument:
    description: |
      Ein Dokument ist eine hochgeladene Datei und kann eus einer oder mehreren - z.b. gescannten - Unterlagen bestehen.
    type: object
    properties:
      id:
        type: string
        description: Unique identifier des Dokuments.
      anzeigename:
        type: string
        description: Anzeigename, kann verändert werden.
      filename:
        type: string
        description: Name der original hochgeladenen Datei.
      erstellungsdatum:
        type: string
        format: date-time
        description: Gibt das Datum an, an dem Das Dokument hochgeladen wurde, sich also der Inhalt geändert hat.
      type:
        type: string
        description: Media-Type nach https://tools.ietf.org/html/rfc6838.
      size:
        type: integer
        format: int64
        description: Größe des Inhalts des Dokuments in Bytes.
      vorgangsNummer:
        type: string
        description: Vorgang dem das Dokument zugeordnet ist.
      _links:
        type: array
        items:
          $ref: "#/definitions/Link"

  KlassifizierungsStatus:
      type: object
      description: |
        Wenn die Klassifizierung noch läuft, kann der Status der Klassifizierung erfragt werden.
      properties:
        status:
          type: string
          enum:
          - 'IN_PROGRESS'
          - 'FINISHED'
        progress:
          type: integer
          format: int32
          description: |
            Progress Wert in Prozent 0 - 100


  Klassifizierung:
    type: object
    description: |
      Enthält alle klassifizierten Unterlagen eines Dokuments als Liste.
    properties:
      unterlagen:
        type: array
        items:
          $ref: "#/definitions/Unterlage"
      _links:
        type: array
        items:
          $ref: "#/definitions/Link"

  Unterlage:
    type: object
    description: |
      Enthält die Klassifizierung eines Bereiches (ein oder mehrere Seiten) in einem Dokument.
    properties:
      bereichsNummer:
        description: Fortlaufende Nummer der Unterlage
        type: integer
        format: int32
      klasse:
        description: Unterlagenklasse eines Dokuments
        type: string
        enum:
        - "GRUNDBUCH_AUSZUG"
        - "PERSONALAUSWEIS"
        - "LOHNABRECHNUNG"
        # TBD Weitere Enums
      # TODO Herausstellen, wie klasse und zuordnung (hierbei insbesondere zuordnung.name) in Zusammenhang stehen
      # TODO Ist dies die Zuordnung Unterlage zu Unterlagenanforderungen?
      zuordnung:
        type: array
        items:
          $ref: "#/definitions/Zuordnung"
      seiteVon:
        type: integer
        format: int32
        description: Seite in dem die Klassifizierung beginnt
      seiteBis:
        type: integer
        format: int32
        description: Seite in dem die Klassifizierung endet

  Zuordnung:
    type: object
    description: |
      Zuordnung einer Unterlage zu einem Antrag.
    properties:
      name:
        description: Name der Unterlagenzuordnung 'Gehaltsnachweis' oder 'Legitimation'
        type: string # Vielleicht auch ENUM?
      typ:
        description: |
          Art der Zuordnung. Automatisch durch ein Erkennungstool, oder manuell.
        type: string
        enum:
          - 'AUTOMATISCHE_ERKENNUNG'
          - 'MANUELLE_ERKENNUNG'
      antragsNummer:
        description: Antragsnummer, an dem die Zuordnung die Anforderung erfüllt.
        type: string
      referenzId:
        description: |
          Identifier des Bezugsobjekts wie Antragsteller oder Immobilie, auf die sich
          diese Zuordnung bezieht.
        type: string

  Link:
    type: string
    format: uri
    description: A HAL Ref

  Error:
    type: object
    properties:
      message:
        type: string
      statusCode:
        type: integer
        format: int32
      statusMessage:
        type: string
      timestamp:
        type: string
        format: date-time
      traceId:
        type: string
    title: Error