# this is the description of the Europace Dokumente API
swagger: '2.0'
info:
  title: Dokumente API
  description: API rund um Plattformdokumente
  version: "0.3.1"
host: "dokumente.api.europace.de"
schemes:
  - https
# will be prefixed to all paths
basePath: /v1
produces:
  - application/json
paths:
  /dokumente:
    post:
      summary: Dokument hochladen
      description: |
        An diesen Endpunkt kann ein Dokument samt Metadaten per Form-Data hochgeladen werden.
      operationId: upload
      consumes:
      - multipart/form-data
      parameters:
      - in: formData
        required: true
        name: content
        type: file
        description: Inhalt des Dokuments.
      - in: formData
        required: false
        name: name
        type: string
        description: Anzeigename, kann verändert werden.
      - in: formData
        required: false
        name: dateiName
        type: string
        description: Name der Originaldatei.
      - in: formData
        required: false
        name: beschreibung
        type: string
        description: Optionale weitere Beschreibung zum Dokument.
      - in: formData
        required: false
        name: vorgangsNummer
        type: string
        description: Vorgangsnummer, dem das Dokument zugeordnet werden soll.
      - in: formData
        # Macht nicht so viel Sinn, da die Unterlagen dem Antrag zugeordnet werden müssen.
        required: false
        name: antragssNummer
        type: string
        description: Antragsnummer, dem das Dokument zugeordnet werden soll.
      responses:
        201:
          description: Dokument erfolgreich hochgeladen
          schema:
            $ref: '#/definitions/Dokument'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"

  /dokumente/{id}:
    get:
      summary: Ein Dokument runterladen
      description: |
        An diesen Endpunkt kann der Inhalt eines Dokuments heruntergeladen werden.
      operationId: download
      parameters:
      - name: id
        in: path
        description: Unique identifier des Dokuments.
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            type: file
        404:
          description: Dokument nicht gefunden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
    put:
      summary: Dokument aktualisieren
      description: |
        An diesen Endpunkt kann der Inhalt eines Dokuments aktualisiert werden.
        Ist die Aktion erfolgreich, erhält man als Antwort die Metadaten.
      operationId: update
      consumes:
        - multipart/form-data
      parameters:
        - name: id
          in: path
          description: Unique identifier des Dokuments.
          required: true
          type: string
        - in: formData
          required: true
          name: content
          type: file
          description: Inhalt der Dokuments.
        - in: formData
          required: false
          name: name
          type: string
          description: Anzeigename, kann verändert werden.
        - in: formData
          required: false
          name: dateiName
          type: string
          description: Name der Originaldatei.
        - in: formData
          required: false
          name: beschreibung
          type: string
          description: Optionale weitere Beschreibung zum Dokument.
        - in: formData
          required: false
          name: vorgangsNummer
          type: string
          description: Vorgangsnummer, dem das Dokument zugeordnet werden soll.
        - in: formData
          required: false
          name: antragssNummer
          type: string
          description: Antragsnummer, dem das Dokument zugeordnet werden soll.
      responses:
        200:
          description: Dokument erfolgreich aktualisiert
          schema:
            $ref: '#/definitions/Dokument'
        404:
          description: Dokument nicht gefunden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
    delete:
      summary: Dokument löschen
      description: |
        An diesen Endpunkt kann das Dokument gelöscht werden.
      operationId: delete
      parameters:
      - name: id
        in: path
        description: Unique identifier des Dokuments.
        required: true
        type: string
      responses:
        200:
          description: Dokument erfolgreich gelöscht
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"

  /dokumente/metadaten:
    get:
      summary: Alle Dokumente
      description: |
        Dieser Endpunkt liefert alle Dokumente, auf die ich Zugriff habe. Da dies viele Dokumente sein können,
        lässt sich die Menge über Filter reduzieren.
      operationId: getDokumente
      parameters:
        - name: vorgangsNummer
          in: query
          description: Vorgangsnummer um nur Dokumente eines bestimmten Vorgangs zu erhalten.
          required: false
          type: string
      responses:
        200:
          description: Eine Liste von Dokumenten
          schema:
            type: array
            items:
              $ref: '#/definitions/Dokument'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Dokumente

  /dokumente/{id}/metadaten:
    get:
      summary: Ein Dokument
      description: |
        Ein Dokument mit angegebener dokumentId.
      operationId: getDokument
      produces:
      - "application/json;charset=UTF-8"
      parameters:
      - name: id
        in: path
        description: Unique identifier des Dokuments.
        required: true
        type: string
      responses:
        200:
          description: Ein Dokument
          schema:
            $ref: '#/definitions/Dokument'
        404:
          description: Dokument nicht gefunden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Dokumente

  /dokumente/{id}/klassifizierungen:
    post:
      summary: Starte Klassifizierung
      description: |
        Erzeugt eine neue Klassifizierung des Dokuments.
      operationId: startKlassifizierung
      parameters:
      - name: id
        in: path
        description: Unique identifier des Dokuments.
        required: true
        type: string
      responses:
        200: # TBD Evtl Redirect auf GET
          description: Eine Klassifizierung eines Dokuments
          schema:
            $ref: '#/definitions/Klassifizierung'
        404:
          description: Klassifizierung nicht gefunden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Dokumente
      - Klassifizierung
    get:
      summary: Lade alle Klassifizierungen eines Dokuments
      description: |
        Alle bestehende nKlassifizierungen eines Dokuments laden.
      operationId: getKlassifizierungen
      parameters:
      - name: id
        in: path
        description: Unique identifier des Dokuments.
        required: true
        type: string
      - name: klassifizierungsId
        in: path
        description: Unique identifier get Klassifizierung.
        required: true
        type: string
      responses:
        200:
          description: Alle Klassifizierungene eines Dokuments
          schema:
            $ref: '#/definitions/Klassifizierung'
        404:
          description: Klassifizierungen nicht gefunden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Dokumente
      - Klassifizierung



  /dokumente/{id}/klassifizierungen/{klassifizierungsId}:
    get:
      summary: Lade eine Klassifizierung
      description: |
        Eine bestehende Klassifizierung laden.
      operationId: getKlassifizierung
      parameters:
      - name: id
        in: path
        description: Unique identifier des Dokuments.
        required: true
        type: string
      - name: klassifizierungsId
        in: path
        description: Unique identifier get Klassifizierung.
        required: true
        type: string
      responses:
        200:
          description: Eine Klassifizierung eines Dokuments
          schema:
            $ref: '#/definitions/Klassifizierung'
        404:
          description: Klassifizierung nicht gefunden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Dokumente
      - Klassifizierung

  /dokumente/{id}/klassifizierungen/{klassifizierungsId}/unterlagen/{unterlagenNummer}:
    put:
      summary: Korrigiere Klassifizierungsbereich
      description: |
        Eine bestehende Klassifizierung laden.
      operationId: updateKlassifizierungsBereich
      parameters:
      - name: id
        in: path
        description: Unique identifier des Dokuments.
        required: true
        type: string
      - name: klassifizierungsId
        in: path
        description: Unique identifier get Klassifizierung.
        required: true
        type: string
      - name: unterlagenNummer
        in: path
        description: Nummer des zu aktualisierenden Bereiches.
        required: true
        type: integer
        format: int32
      - in: body
        name: bereich
        description: Die aktualisierte Unterlage.
        schema:
          $ref: "#/definitions/Unterlage"
      consumes:
        - application/json
      responses:
        200:
          description: Bereich erfolgreich korrigiert
          schema:
            $ref: '#/definitions/Klassifizierung'
        404:
          description: Klassifizierung nicht gefunden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - "API"
      tags:
      - Dokumente
      - Klassifizierung

securityDefinitions:
  oauth2:
    type: oauth2
    tokenUrl: "https://api.europace.de/login"
    flow: password
    scopes:
      API: Authorisation Scope für die gesamte API.

definitions:
  Dokument:
    description: |
      Ein Dokument ist eine hochgeladene Datei und kann eus einer oder mehreren - z.b. gescannten - Unterlagen bestehen.
    type: object
    properties:
      id:
        type: string
        description: Unique identifier des Dokuments.
      name:
        type: string
        description: Anzeigename, kann verändert werden.
      dateiName:
        type: string
        description: Name der original hochgeladenen Datei.
      beschreibung:
        type: string
        description: Optionale weitere Beschreibung zur Datei.
      uploadDatum:
        type: string
        format: date-time
        description: Gibt das Datum an, an dem Das Dokument hochgeladen wurde, sich also der Inhalt geändert hat.
      type:
        type: string
        description: Media-Type nach https://tools.ietf.org/html/rfc6838.
      size:
        type: integer
        format: int64
        description: Größe des Inhalts des Dokuments in Bytes.
      previewImage:
        type: string
        format: uri
        description: Vorschau-Image des Dokuments. (Evtl. auch als Rel in _links)
      vorgangsNummern:
        type: array
        description: Vorgängen denen das Dokument zugeordnet ist.
        items:
          type: string
      _links:
        type: array
        items:
          $ref: "#/definitions/Link"

  Klassifizierung:
    type: object
    description: |
      Enthält alle klassifizierten Unterlagen eines Dokuments als Liste.
    properties:
      id:
        type: string
        description: Unique Identifier der Klassifizierung
      status:
        type: object
        properties:
          state:
            type: string
            enum:
            - 'IN_PROGRESS'
            - 'FINISH'
          progress:
            type: integer
            format: int32
            description: |
              Progress Wert in Prozent 0 - 100
      unterlagen:
        type: array
        items:
          $ref: "#/definitions/Unterlage"
      _links:
        type: array
        items:
          $ref: "#/definitions/Link"

  Unterlage:
    type: object
    description: |
      Enthält die Klassifizierung eines Bereiches (ein oder mehrere Seiten) in einem Dokument.
    properties:
      bereichsNummer:
        description: Fortlaufende Nummer der Unterlage
        type: integer
        format: int32
      klasse:
        description: Unterlagenklasse eines Dokuments
        type: string
        enum:
        - "GRUNDBUCH_AUSZUG"
        - "PERSONALAUSWEIS"
        - "LOHNABRECHNUNG"
        # TBD Weitere Enums
      zuordnung:
        type: array
        items:
          $ref: "#/definitions/Zuordnung"
      seiteVon:
        type: integer
        format: int32
        description: Seite in dem die Klassifizierung beginnt
      seiteBis:
        type: integer
        format: int32
        description: Seite in dem die Klassifizierung endet

  Zuordnung:
    type: object
    description: |
      Zuordnung einer Unterlage zu einem Antrag.
    properties:
      name:
        description: Name der Unterlagenzuordnung 'Gehaltsnachweis' oder 'Legitimation'
        type: string # Vielleicht auch ENUM?
      typ:
        description: |
          Art der Zuordnung. Automatisch durch ein Erkennungstool, oder manuell.
        type: string
        enum:
          - 'AUTOMATISCHE_ERKENNUNG'
          - 'MANUELLE_ERKENNUNG'
      antragsNummer:
        description: Antragsnummer, an dem die Zuordnung die Anforderung erfüllt.
        type: string
      referenzId:
        description: |
          Identifier des Bezugsobjekts wie Antragsteller oder Immobilie, auf die sich
          diese Zuordnung bezieht.
        type: string

  Link:
    type: string
    format: uri
    description: A HAL Ref

  Error:
    type: object
    properties:
      message:
        type: string
      statusCode:
        type: integer
        format: int32
      statusMessage:
        type: string
      timestamp:
        type: string
        format: date-time
      traceId:
        type: string
    title: Error