# this is the description of the Europace Dokumente API
swagger: '2.0'
info:
  title: Dokumente API
  description: API rund um Plattformdokumente
  version: "1.0.31"
host: "api.europace.de"
schemes:
  - https
# will be prefixed to all paths
basePath: /v1
produces:
  - application/json

paths:
  /dokumente:
    post:
      summary: Dokument hochladen
      description: |
        Ein Dokument samt Metadaten per Form-Data hochladen.
      operationId: uploadDokument
      consumes:
        - multipart/form-data
      parameters:
        - in: formData
          required: true
          name: file
          type: file
          description: Inhalt des Dokuments.
        - in: formData
          required: false
          name: anzeigename
          type: string
          description: Name zur Anzeige auf der Oberfläche.
        - in: formData
          required: true
          name: vorgangsNummer
          type: string
          description: Vorgangsnummer, dem das Dokument zugeordnet werden soll.
      responses:
        201:
          description: Dokument erfolgreich hochgeladen
          schema:
            $ref: '#/definitions/Dokument'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
        - oauth2:
            - "API"
      tags:
        - Dokumente
    get:
      summary: Metadaten zu allen Dokumenten eines Vorgangs laden
      operationId: getDokumente
      parameters:
        - name: vorgangsNummer
          in: query
          description: Vorgangsnummer für welche Dokumente geliefert werden sollen.
          required: true
          type: string
      # Hier ggf. Parameter Hochgeladenes Dokument
      responses:
        200:
          description: Eine Liste von Dokumenten
          schema:
            type: array
            items:
              $ref: '#/definitions/Dokument'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
        - oauth2:
            - "API"
      tags:
        - Dokumente
    delete:
      summary: Alle Resourcen zu diesem Vorgang löschen
      description: |
        Dokumente und Seiten zu diesem Vorgang löschen.
      operationId: deleteVorgangsResourcen
      parameters:
        - name: vorgangsNummer
          in: query
          description: Vorgangsnummer zu der alle Resourcen gelöscht werden sollen.
          required: true
          type: string
      responses:
        200:
          description: Resourcen erfolgreich gelöscht.
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
        - oauth2:
            - "API"
      tags:
        - Vorgang

  /dokumente/{dokumentId}:
    get:
      summary: Metadaten zu einem Dokument laden
      operationId: getDokument
      produces:
        - "application/json;charset=UTF-8"
      parameters:
        - name: dokumentId
          in: path
          description: Unique identifier des Dokuments.
          required: true
          type: string
      responses:
        200:
          description: Ein Dokument
          schema:
            $ref: '#/definitions/Dokument'
        404:
          description: Dokument nicht gefunden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
        - oauth2:
            - "API"
      tags:
        - Dokumente
    put:
      summary: Metadaten eines Dokuments aktualisieren
      operationId: updateDokument
      consumes:
        - application/json
      parameters:
        - in: path
          name: dokumentId
          description: Unique identifier des Dokuments.
          required: true
          type: string
        - in: body
          name: metadaten
          schema:
            $ref: '#/definitions/AenderbareDokumentMetadaten'
      responses:
        200:
          description: Metadaten des Dokuments erfolgreich aktualisiert
          schema:
            $ref: '#/definitions/Dokument'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
        - oauth2:
            - "API"
      tags:
        - Dokumente
    delete:
      summary: Metadaten und Inhalt eines Dokuments löschen
      operationId: deleteDokument
      parameters:
        - name: dokumentId
          in: path
          description: Unique identifier des Dokuments.
          required: true
          type: string
      responses:
        200:
          description: Dokument erfolgreich gelöscht
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
        - oauth2:
            - "API"
      tags:
        - Dokumente

  /dokumente/{dokumentId}/content:
    get:
      summary: Inhalt eines Dokuments laden
      operationId: downloadDokument
      produces:
        - "application/pdf"
      parameters:
        - name: dokumentId
          in: path
          description: Unique identifier des Dokuments.
          required: true
          type: string
      responses:
        200:
          description: OK
          schema:
            type: file
        404:
          description: Dokument nicht gefunden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
        - oauth2:
            - "API"
      tags:
        - Dokumente

  /dokumente/{dokumentId}/preview:
    get:
      summary: Vorschaubild einer Seite eines Dokuments laden
      operationId: getPreview
      produces:
        - image/jpeg
        - application/json
      parameters:
        - name: dokumentId
          in: path
          description: Unique identifier des Dokuments.
          required: true
          type: string
        - name: page
          in: query
          description: anzuzeigende Seite, 1-basiert
          required: true
          type: integer
          format: int32
        - name: size
          in: query
          description: "Bildgröße: small oder large"
          default: 'small'
          type: string
          enum:
            - 'small'
            - 'large'
      responses:
        200:
          description: Vorschaubild in JPEG
          schema:
            type:
              file
        404:
          description: Dokument nicht gefunden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
        - oauth2:
            - "API"
      tags:
        - Dokumente

  /dokumente/{dokumentId}/kategorisierung:
    post:
      summary: Kategorisierung eines Dokuments anstoßen
      operationId: starteKategorisierung
      parameters:
        - name: dokumentId
          in: path
          description: Unique identifier des Dokuments.
          required: true
          type: string
      responses:
        200:
          description: Kategorisierung wurde gestartet
        404:
          description: Dokument nicht gefunden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
        - oauth2:
            - "API"
      tags:
        - Dokumente
    get:
      summary: Kategorisierungsstatus eines Dokuments laden
      operationId: getKategorisierung
      parameters:
        - name: dokumentId
          in: path
          description: Unique identifier des Dokuments.
          required: true
          type: string
      responses:
        200:
          description: |
            Die Kategorisierung eines Dokuments ist abgeschlossen, die Seiten können geladen werden
          schema:
            $ref: '#/definitions/KategorisierungsStatus'
        202:
          description: Die Kategorisierung ist noch nicht abgeschlossen.
          schema:
            $ref: '#/definitions/KategorisierungsStatus'
        404:
          description: Dokument nicht gefunden oder Kategorisierung noch nicht gestartet.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
        - oauth2:
            - "API"
      tags:
        - Dokumente

  /dokumente/{dokumentId}/seiten:
    get:
      summary: Metadaten zu allen Seiten eines Dokuments laden
      operationId: getDokumentSeiten
      parameters:
        - name: dokumentId
          in: path
          description: Unique identifier des Dokuments.
          required: true
          type: string
        - name: vorgangsNummer
          in: query
          description: Wird Pflichtfeld - bitte anpassen --  Vorgangsnummer des Dokuments.
          required: false
          type: string
        - name: antragsNummer
          in: query
          description: z.T. beziehen sich die Angaben in der Seite auf Angaben im Vorgang zum Zeitpunkt, als der Antrag angenommen wurde.
          required: false
          type: string
      produces:
        - application/json
      responses:
        200:
          description: Liste der Seiten des Dokuments
          schema:
            type: array
            items:
              $ref: "#/definitions/Seite"
        404:
          description: Dokument nicht gefunden.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
        - oauth2:
            - "API"
      tags:
        - Seiten

  /dokumente/seiten:
    get:
      summary: Metadaten zu allen Seiten eines Vorgangs laden
      operationId: getSeiten
      produces:
        - application/json
      parameters:
        - name: vorgangsNummer
          in: query
          description: Vorgangsnummer der Dokumente.
          required: true
          type: string
        - name: antragsNummer
          in: query
          description: z.T. beziehen sich die Angaben in der Seite auf Angaben im Vorgang zum Zeitpunkt, als der Antrag angenommen wurde.
          required: false
          type: string
      responses:
        200:
          description: Liste der Seiten
          schema:
            $ref: "#/definitions/Seiten"
        404:
          description: Vorgang nicht gefunden.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
        - oauth2:
            - "API"
      tags:
        - Seiten

  /dokumente/zuordnung/{kategorie}:
    put:
      summary: Zuordnung (Kategorie und Bezug) für mehrere Seiten setzen
      operationId: setzeZuordnung
      parameters:
        - name: kategorie
          in: path
          description: Die Kategorie, die den Seiten zugeordnet werden soll.
          required: true
          type: string
        - name: bezug
          in: query
          description: Der Bezug, der den Seiten zugeordnet werden soll.
          required: false
          type: string
        #          allowReserved: true
        - name: seitenReferenzen
          in: body
          description: Die Seiten-Referenzen der Seiten, deren Kategorie und Bezug geändert werden sollen.
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/SeitenReferenz'
      responses:
        200:
          description: Ok
        400:
          description: Fehler in den Eingabedaten.
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Kategorie/Bezug nicht gefunden.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
        - oauth2:
            - "API"
      tags:
        - Seiten

  /dokumente/zuordnungen:
    get:
      summary: Liste aller mögliche Zuordnungen (Kategorie und Bezug) von Seiten erhalten.
      description: Welche Zuordnungen stehen in diesem Vorgang/Antrag für Seiten zur Verfügung.
      operationId: getMoeglicheZuordnungen
      parameters:
        - name: vorgangsNummer
          in: query
          description: Vorgangsnummer
          required: true
          type: string
        - name: antragsNummer
          in: query
          description: Antragsnummer - spezifischere Zuordnungen - z.B. werden die Vorgangsdaten zum Zeitpunkt der Antrags-Annahme verwendet statt die aktuellen Vorgangsdaten.
          required: false
          type: string
      responses:
        200:
          description: Ok
          schema:
            type: array
            items:
              $ref: '#/definitions/MoeglicheZuordnung'
        400:
          description: Fehler in den Eingabedaten.
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Vorgang nicht gefunden.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
        - oauth2:
            - "API"
      tags:
        - Seiten

  /dokumente/archiv:
    put:
      summary: Seiten ins Archiv verschieben
      description: Archiv-Flag wird gesetzt.
      operationId: setArchiv
      parameters:
        - name: seitenReferenzen
          in: body
          description: Die Seiten-Referenzen der Seiten, die ins Archiv verschoben werden sollen.
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/SeitenReferenz'
      responses:
        200:
          description: Ok
        400:
          description: Fehler in den Eingabedaten.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
        - oauth2:
            - "API"
      tags:
        - Seiten
    delete:
      summary: Seiten aus dem Archiv herausholen
      description: Archiv-Flag wird entfernt.
      operationId: unsetArchiv
      parameters:
        - name: seitenReferenzen
          in: body
          description: Die Seiten-Referenzen der Seiten, die aus dem Archiv zurückgeholt werden sollen.
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/SeitenReferenz'
      responses:
        200:
          description: Ok
        400:
          description: Fehler in den Eingabedaten.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
        - oauth2:
            - "API"
      tags:
        - Seiten

  /dokumente/geprueft:
    put:
      summary: Seiten als "geprüft" markieren
      description: Seiten werden (mit aktuellem Zeitstempel) als "geprüft" markiert.
        Bei bereits geprüften Seiten wird der Zeitstempel aktualisiert.
      operationId: setGeprueft
      parameters:
        - name: seitenReferenzen
          in: body
          description: Die Seiten-Referenzen der Seiten, die als "geprüft" markiert werden sollen.
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/SeitenReferenz'
      responses:
        200:
          description: Ok
        400:
          description: Fehler in den Eingabedaten.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
        - oauth2:
            - "API"
      tags:
        - Seiten

    delete:
      summary: Die "geprüft"-Markierung für angegebene Seiten löschen
      description: Bei den Seiten mit den im Body angegebenen Seitenreferenzen wird die "geprüft"
        -Markierung entfernt, sie erscheinen dann ungeprüft. Bei Seiten ohne "geprüft"-Markierung ändert sich nichts.
      operationId: unsetGeprueft
      parameters:
        - name: seitenReferenzen
          in: body
          description: Die Seiten-Referenzen der Seiten, deren "geprüft"-Markierung entfernt werden soll.
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/SeitenReferenz'
      responses:
        200:
          description: Ok
        400:
          description: Fehler in den Eingabedaten.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
        - oauth2:
            - "API"
      tags:
        - Seiten

  /dokumente/freigabe:
    post:
      summary: Seiten für einen ProduktAnbieter freigeben
      description: Es werden die Zuordnungen (Kategorie/Bezug) verwendet, die an den Seiten ermittelt oder manuell gesetzt wurden
      operationId: erzeugeFreigabe
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: freigabe
          description: Freizugebende Seiten für einen Antrag und ProduktAnbieter.
          required: true
          schema:
            type: object
            properties:
              antragsNummer:
                type: string
              seiten:
                type: array
                items:
                  type: object
                  properties:
                    dokumentId:
                      type: string
                      description: ID des referenzierten Dokuments.
                    seite:
                      type: integer
                      format: int32
                      description: Seite im Dokument, 1-basiert.

      responses:
        201:
          description: Freigabe erstellt
          schema:
            type: array
            items:
              $ref: '#/definitions/FreigegebeneUnterlage'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
        - oauth2:
            - "API"
      tags:
        - Freigabe
    get:
      summary: Metadaten aller freigegebener Unterlagen (in einem Zeitraum) laden
      operationId: getFreigaben
      parameters:
        - name: antragsNummer
          in: query
          description: Antragsnummer.
          required: true
          type: string
        - name: von
          in: query
          required: false
          type: string
          format: date-time
        - name: bis
          in: query
          required: false
          type: string
          format: date-time
      responses:
        200:
          description: Eine Liste von freigegebenen Unterlagen.
          schema:
            type: array
            items:
              $ref: '#/definitions/FreigegebeneUnterlage'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
        - oauth2:
            - "API"
      tags:
        - Freigabe

  /dokumente/freigaben/content:
    get:
      summary: Den Inhalt aller erfolgreich freigegebenen Unterlagen als ZIP-Archiv herunterladen
      operationId: downloadFreigaben
      parameters:
        - name: antragsNummer
          in: query
          description: Antragsnummer
          required: true
          type: string
      produces:
        - "application/zip"
      responses:
        200:
          description: Ein ZIP-Archiv mit allen für den Antrag erfolgreich freigegebenen Unterlagen als PDF-Dateien
          schema:
            type: file
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
        - oauth2:
            - "API"
      tags:
        - Freigabe

  /dokumente/freigabe/{id}:
    get:
      summary: Metadaten einer freigegebene Unterlage laden
      description: |
        Dieser Endpunkt liefert eine freigegebene Unterlage.
      operationId: getFreigabe
      parameters:
        - name: id
          in: path
          description: Id der freigegebenen Unterlage
          required: true
          type: string

      responses:
        200:
          description: Eine freigegebene Unterlage.
          schema:
            $ref: '#/definitions/FreigegebeneUnterlage'
        404:
          description: Freigegebene Unterlage not found.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
        - oauth2:
            - "API"
      tags:
        - Freigabe

  /dokumente/freigabe/{id}/content:
    get:
      summary: Inhalt einer freigegebene Unterlage laden
      operationId: downloadFreigabe
      produces:
        - "application/pdf"
      parameters:
        - name: id
          in: path
          description: Unique identifier der freigegebenen Unterlage.
          required: true
          type: string
      responses:
        200:
          description: OK
          schema:
            type: file
        404:
          description: Dokument nicht gefunden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
        - oauth2:
            - "API"
      tags:
        - Freigabe

  /dokumente/freigabe/{id}/status:
    get:
      summary: Abrufstatus einer freigegebenen Unterlage laden
      operationId: getFreigegebeneUnterlageStatus
      parameters:
        - name: id
          in: path
          description: Id der freigegebenen Unterlage
          required: true
          type: string
      responses:
        200:
          description: Status der freigegebenen Unterlage.
          schema:
            $ref: '#/definitions/Abrufstatus'
        404:
          description: Freigegebene Unterlage not found.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
        - oauth2:
            - "API"
      tags:
        - Freigabe

    post:
      summary: Abrufstatus einer freigegebenen Unterlage setzen
      operationId: setFreigegebeneUnterlageStatus
      parameters:
        - name: id
          in: path
          description: Id der freigegebenen Unterlage
          required: true
          type: string
        - name: abrufstatus
          in: body
          required: true
          schema:
            $ref: '#/definitions/Abrufstatus'
      responses:
        201:
          description: Keine Rückgabe-Objekte.
        404:
          description: Freigegebene Unterlage not found.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
        - oauth2:
            - "API"
      tags:
        - Freigabe

  /dokumente/revision:
    get:
      summary: Revisionnummern der Daten zum angegebenen Vorgang
      description: |
        Liefert die aktuellen Revisionsnummern der Resourcen zum angegebenen Vorgang. Jede Änderung einer Resource ändert deren Revisionsnummer.
      operationId: getRevision
      produces:
        - application/json
      parameters:
        - name: vorgangsNummer
          in: query
          description: Vorgangsnummer der Dokumente.
          required: true
          type: string
      responses:
        200:
          description: Revisionsnummern der verschiedenen Resourcen des Vorgangs
          schema:
            $ref: "#/definitions/Revision"
        404:
          description: Vorgang nicht gefunden.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unerwarteter Fehler
          schema:
            $ref: '#/definitions/Error'
      security:
        - oauth2:
            - "API"
      tags:
        - Revision

securityDefinitions:
  oauth2:
    type: oauth2
    tokenUrl: "https://api.europace.de/login"
    flow: password
    scopes:
      API: Authorisation Scope für die gesamte API.

definitions:
  Dokument:
    description: |
      Ein Dokument ist eine hochgeladene Datei und kann aus einer oder mehreren - z.b. gescannten - Unterlagen bestehen.
    type: object
    properties:
      id:
        type: string
        description: Unique identifier des Dokuments.
      schluessel:
        type: string
        description: Öffentlicher Schlüssel der Dokumentenverwaltung.
      anzeigename:
        type: string
        description: Anzeigename, kann verändert werden.
      filename:
        type: string
        description: Name der original hochgeladenen Datei.
      erstellungsdatum:
        type: string
        format: date-time
        description: Gibt das Datum an, an dem Das Dokument hochgeladen wurde, sich also der Inhalt geändert hat.
      type:
        type: string
        description: Media-Type nach https://tools.ietf.org/html/rfc6838.
      size:
        type: integer
        format: int64
        description: Größe des Inhalts des Dokuments in Bytes.
      vorgangsNummer:
        type: string
        description: Vorgang dem das Dokument zugeordnet ist.
      verschluesselt:
        type: boolean
        description: Gibt an, ob das Dokument verschlüsselt ist
      kategorisierungsStatus:
        type: object
        description: |
          Status der Kategorisierung des Dokuments.
        $ref: "#/definitions/KategorisierungsStatus"
      _links:
        type: object
        properties:
          self:
            $ref: "#/definitions/Relation"
            description: Self relation
          preview:
            $ref: "#/definitions/Relation"
            description: Base URL für die Preview Images
          kategorisierung:
            $ref: "#/definitions/Relation"
            description: URL zur Kategorisierung
          download:
            $ref: "#/definitions/Relation"
            description: URL zum Runterladen des Dokuments (intern)
          publicDownload:
            $ref: "#/definitions/Relation"
            description: URL zum Runterladen des Dokuments (öffentlich)
          seiten:
            $ref: "#/definitions/Relation"
            description: URL zu den Seiten des Dokuments

  AenderbareDokumentMetadaten:
    description: Metadaten die für ein Dokument geändert werden können.
    type: object
    properties:
      anzeigename:
        type: string
        description: Anzeigename

  KategorisierungsStatus:
    type: object
    description: |
      Wenn die Kategorisierung noch läuft, kann der Status der Kategorisierung erfragt werden.
    properties:
      status:
        type: string
        enum:
          - 'NEW'
          - 'IN_PROGRESS'
          - 'DONE'
          - 'ERROR'
      progress:
        type: integer
        format: int32
        description: |
          Progress Wert in Prozent 0 - 100
      meldung:
        type: string
        description: Eine Meldung für den Nutzer, die den Grund für den Status beschreibt oder nähere Informationen liefert. Kann null sein.

  Seiten:
    type: object
    properties:
      seiten:
        type: array
        items:
          $ref: "#/definitions/Seite"

  Seite:
    type: object
    description: |
      Definiert eine Seite eines Dokuments.
    properties:
      dokumentId:
        type: string
        description: ID des referenzierten Dokuments.
      seite:
        type: integer
        format: int32
        description: Seite im Dokument, 1-basiert.
      drehung:
        type: integer
        format: int32
        enum:
          - 0
          - 90
          - 180
          - 270
        description: |
          Winkel in Grad, um den die Seite gegenüber dem Originaldokument gedreht werden muss, um richtig zu liegen. Ist 0, 90, 180 oder 270.
          Ist die Angabe null oder nicht vorhanden, dann ist dieser Winkel nicht bekannt, und die Seite wird nicht gedreht.
      klassifizierung:
        type: object
        properties:
          kategorien:
            description: |
              Kategorien der Seite nach Relevanz sortiert.
              Das erste Element beinhaltet die höchste Relevanz.
            type: array
            items:
              type: string
              example: Personalausweis
      zuordnung:
        type: object
        $ref: "#/definitions/ZuordnungMitStatus"
      kategorie:
        description: |
          deprecated => see zuordnung - Die Kategorie der Seite bildet zusammen mit dem Bezug die Zuordnung.
          Manuell gesetzte Kategorie der Seite. Initial die wahrscheinlichste Kategorie,
          wenn die Kategorisierung hinreichend sicher ist, ansonsten wird die Kategorie nicht gesetzt.
        type: string
      verbindlichkeitsart:
        description: deprecated => see zuordnung - Art der Verbindlichkeit
        type: string
      bezug:
        description: deprecated => see zuordnung - Der Bezug der Seite bildet zusammen mit der Kategorie die Zuordnung.
        type: string
      archiviert:
        type: boolean
        description: Archivierungsstatus der Seite.
      geprueftAm:
        type: string
        format: date-time
        description: Zeitpunkt, an dem die Seite inhaltlich geprüft wurde. null, wenn die Seite noch nicht inhaltlich geprüft wurde.
      freigaben:
        type: array
        description: Angaben zu Freigaben dieser Seite
        items:
          $ref: "#/definitions/SeitenFreigabe"
      _links:
        type: object
        properties:
          preview:
            $ref: "#/definitions/Relation"
            description: URL Template für die Preview Images

  SeitenReferenz:
    type: object
    description: |
      Referenziert eine Seite eines Dokuments.
    properties:
      dokumentId:
        type: string
        description: ID des referenzierten Dokuments.
      seite:
        type: integer
        format: int32
        description: Seite im Dokument, 1-basiert.

  SeitenFreigabe:
    type: object
    description: |
      Angaben zur Freigabe dieser Seite
    properties:
      abrufStatus:
        $ref: "#/definitions/Abrufstatus"
      antragsNummer:
        type: string
        description: Antrag in dem diese Seite bereits freigegeben wurde
      datum:
        type: string
        format: date-time
        description: Gibt das Datum an, an dem das Dokument freigegeben wurde.
      zuordnung:
        $ref: "#/definitions/Zuordnung"
      kategorie:
        type: string
        description: deprecated => see zuordnung - Die Kategorie, mit der die Seite freigegeben wurde. Hier werden ggf. die für den Nutzer "erfundenen" zusätzlichen Kategorien für |
          Ratenkreditverträge verwendet -- genau wie bei der Kategorie an der Seite und *anders* als bei der Kategorie in FreigegebeneUnterlage.
        example: Privatkreditvertrag_neu
      bezug:
        type: string
        description: deprecated => see zuordnung - Die Bezugs-Id, mit der die Seite freigegeben wurde. Ist null, wenn kein Bezug gesetzt war.
        example: immobilie:finanzierungsobjekt

  FreigegebeneUnterlage:
    type: object
    description: |
      Mehrseitige vom Vertrieb fuer den Produktanbieter freigegebene Unterlage.
      Die Unterlage besitzt eine Kategorie und bezieht sich auf ein Bezugsobjekt.
    properties:
      id:
        type: string
        description: Unique identifier der freigegebenen Unterlage.
      antragsNummer:
        type: string
        description: Antragsnummer
      anzeigename:
        type: string
        description: Anzeigename.
      filename:
        type: string
        description: Name der Datei.
      freigabedatum:
        type: string
        format: date-time
        description: Gibt das Datum an, an dem die Unterlage freigegeben wurde.
      mediaType:
        type: string
        description: Media-Type nach https://tools.ietf.org/html/rfc6838.
      kategorie:
        description: Die Kategorie der Freigabe.
        type: string
      bezug:
        $ref: "#/definitions/Bezugsobjekt"
        description: Bezugsobjekt der Unterlage, wenn vorhanden
      verbindlichkeitsart:
        description: Art der Verbindlichkeit.
        type: string
      freigebender:
        $ref: "#/definitions/Partner"
        description: freigebender Vermittler
      abrufstatus:
        $ref: "#/definitions/Abrufstatus"
      _links:
        type: object
        properties:
          self:
            description: Self Relation
            $ref: "#/definitions/Relation"
          download:
            description: URL zum Runterladen der freigegebenen Unterlage.
            $ref: "#/definitions/Relation"
          publicDownload:
            description: URL zum Runterladen des freigegebenen Unterlage (öffentlich)
            $ref: "#/definitions/Relation"
          abrufstatus:
            description: URL zum Abfragen und Setzen des Abrufstatus
            $ref: "#/definitions/Relation"

  Abrufstatus:
    type: object
    description: Status, ob die vom Vertrieb freigegebene Unterlage beim Produktanbieter angekommen ist
    properties:
      status:
        type: string
        enum:
          - CREATED
          - IN_PROGRESS
          - FAILED
          - DELIVERED
      message:
        type: string

  Bezugsobjekt:
    type: object
    properties:
      id:
        type: string
        description: Id des Bezugsobjekts (innerhalb eines Antrags eindeutig).
        example: "Immobilie:4711"
      typ:
        type: string
        description: Typ des Bezugsobjekts.
        example: "Immobilie"
      bezeichnung:
        type: string
        description: Typ des Bezugsobjekts.
        example: "Finanzierungsobjekt Feldweg 17"

  Partner:
    type: object
    properties:
      partnerId:
        type: string
        description: Id eines Partners auf der Europace-Plattform. Identifiziert eine Plakette im Partnermanagement.
        example: ABC45

  Relation:
    type: object
    properties:
      href:
        type: string
        format: uri
        description: A HAL Ref
      type:
        type: string
        description: Media-Type nach https://tools.ietf.org/html/rfc6838.

  Revision:
    type: object
    properties:
      dokumenteRevision:
        type: string
        description: Revisionsnummer der Dokumente des Vorgangs.
      seitenRevision:
        type: string
        description: Revisionsnummer der Dokumentseiten des Vorgangs.

  Zuordnung:
    type: object
    properties:
      kategorie:
        description: Beantwortet die Frage "Was ist es?"
        example: Krankenversicherungsnachweis
        type: string
      bezug:
        description: Beantwortet die Frage "Worauf bezieht es sich?"
        example: antragsteller:1
        type: string

  ZuordnungMitStatus:
    allOf:
      - $ref: '#/definitions/Zuordnung'
      - type: object
        properties:
          status:
            type: string
            enum:
              - KATEGORIE_FEHLT
              - KATEGORIE_UNGUELTIG
              - BEZUG_FEHLT
              - BEZUG_UNGUELTIG
              - VOLLSTAENDIG

  MoeglicheZuordnung:
    type: object
    properties:
      kategorie:
        type: string
        description: Technische Bezeichnung der Kategorie.
      label:
        type: string
        description: Für den Nutzer sichtbare Bezeichnung der Kategorie.
      beschreibung:
        type: string
        description: Eine nähere Beschreibung, was mit der Kategorie erfasst werden soll (optional).
      hinweistext:
        type: string
        description: Ein Hinweistext, der dem Nutzer für Unterlagen in dieser Kategorie angezeigt werden soll (optional, kann Markdown-Formatierung verwenden).
      bezuege:
        type: array
        items:
          type: object
          description: Mögliche Bezugsobjekte für diese Kategorie
          required:
            - "op"
            - "path"
          properties:
            bezug:
              type: string
              description: Id des Bezuges
            label:
              type: string
              description: Anzeigename für diesen Bezug
            oberkategorie:
              type: string
              description: Anzeigename der Gruppe, in die die Seiten gehören, für die diese Zuordnung ausgewählt wurde. Wird ggf. mit oberkategorieZusatz ergänzt.
              example: Zusatzsicherheit
            oberkategorieZusatz:
              type: string
              description: Zusätzliche Detailangaben zu der Gruppe, in die die Seiten gehören, für die diese Zuordnung gewählt wurde. Optional. oberkategorie und oberkategorieZusatz definieren *gemeinsam* die Gruppe.
              example: Feldweg 17

  Error:
    type: object
    properties:
      message:
        type: string
      statusCode:
        type: integer
        format: int32
      statusMessage:
        type: string
      timestamp:
        type: string
        format: date-time
      traceId:
        type: string
    title: Error
