openapi: 3.0.0
info:
  title: Unterlagen Push API
  description: As loan provider you can be notified via webhook when there is a new shared proof for you.
  version: 1.0.0
  termsOfService: 'https://docs.api.europace.de/terms/'
  contact:
    name: Europace AG
    url: www.europace.de
    email: helpdesk@europace2.de
servers:
  - url: 'https://pushnotifications.dokumente.europace2.de'
paths:
  /your-webhook-endpoint:
    post:
      summary: send notification
      description: Placeholder for the URL that is registered as your webhook. This endpoint is called by us in the event of share a proof and is only included here to document the scheme. The request must be processed within 30s and return a 2xx status code. Your service is responsible for setting the status of the transferred documents to "DELIVERED" or "FAILED".
      operationId: pushMessage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Message'
            examples:
              example-1:
                value:
                  eventTyp: FREIGABE
                  datenkontext: ECHT_GESCHAEFT
                  unterlagen:
                    - unterlagenId: string
                      metaDatenUrl: string
                      statusUrl: string
                  produktanbieterId: string
                  antragsNummer: string
                  externeAntragsNummer: string
      parameters:
        - in: header
          name: X-Europace-HMAC
          schema:
            type: string
          description: SHA256 signature of the payload with the secret stored for the webhook
        - in: header
          name: X-Europace-TraceId
          schema:
            type: string
          description: ID for error analysis and logging. Please include this ID in your support requests.
      responses:
        '200':
          description: Message successfully received
  /messages/unterlagenfreigabe/test:
    post:
      summary: Send a test payload
      operationId: testMessage
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                secret:
                  type: string
              required:
                - url
            examples:
              example-1:
                value:
                  url: string
                  secret: string
      responses:
        '200':
          description: A test payload is sent to the URL
components:
  schemas:
    Datenkontext:
      type: string
      enum:
        - TEST_MODUS
        - ECHT_GESCHAEFT
      default: ECHT_GESCHAEFT
    EventTyp:
      type: string
      enum:
        - FREIGABE
      description: ''
    Message:
      type: object
      properties:
        eventTyp:
          $ref: '#/components/schemas/EventTyp'
        datenkontext:
          $ref: '#/components/schemas/Datenkontext'
        unterlagen:
          type: array
          items:
            $ref: '#/components/schemas/Unterlage'
        produktanbieterId:
          description: identifier for loan provider
          type: string
        antragsNummer:
          type: string
        externeAntragsNummer:
          type: string
      required:
        - eventTyp
        - datenkontext
        - unterlagen
        - produktanbieterId
        - antragsNummer
    Unterlage:
      type: object
      properties:
        unterlagenId:
          description: identifier of the shared proof (see Unterlagen API)
          type: string
        metaDatenUrl:
          type: string
        statusUrl:
          type: string
      required:
        - unterlagenId
        - metaDatenUrl
        - statusUrl
      description: ''
  securitySchemes:
    access_token:
      type: http
      scheme: bearer
