openapi: 3.0.0
info:
  title: Upload API
  description: Document Upload Api version 2
  version: 2-Beta

servers:
  - url: https://api-mtp.europace2.de
    description: mtp
  - url: https://api.europace2.de
    description: prod

security:
  - BearerAuth:
      []

paths:
  /v2/documents:
    post:
      tags:
        - Document Upload
      summary: Upload a document
      operationId: upload
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadRequestViaUrl'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UploadRequestViaFile'
      responses:
        "202":
          description: document accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadResponse'
        "400":
          description: bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    example: 2023-07-12T12:07:07.400+00:00
                    type: string
                  message:
                    example: Required parameter 'caseId' is not present.
                    type: string

        "403":
          description: forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    example: 2023-07-12T12:07:07.400+00:00
                    type: string
                  message:
                    example: User is not authorized to access this resource with an explicit deny
                    type: string


components:
  responses:
    NotFound:
      description: case id not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer

  schemas:
    UploadRequestViaFile:
      type: object
      properties:
        file:
          description: content of file
          type: string
          format: binary
        caseId:
          description: case id where the document is to add
          type: string
        displayName:
          description: name to display on frontend
          type: string
        category:
          description: manual assigned category
          type: string
      required:
        - file
        - caseId

    UploadRequestViaUrl:
      type: object
      properties:
        caseId:
          type: string
          example: A23WYC
        url:
          type: string
          example: https://domain.com/image.png
        displayName:
          type: string
          example: Mustermann ID
        category:
          type: string
          description: if empty triggers the auto categorization
          example: Ausweisdokument
      required:
        - caseId
        - url
        - displayName

    UploadResponse:
      type: object
      properties:
        id:
          example: 64ae9d0199c39b04e37f1816
          type: string

    Metadata:
      type: object
      properties:
        displayName:
          type: string
        category:
          type: string

    Error:
      type: object
      properties:
        timestamp:
          type: string
        message:
          type: string
      required:
        - timestamp
        - message
